{% load csstags %}

{% if graph %}
  <div id="{{graph_id}}" class="toppagebox text-center">
      {% for key in my_dict %}
      <a class="{{ my_dict_class|lookup:key }}" href="{{ request.get_full_path }}#{{key}}">{{ my_dict|lookup:key }}</a>
      {% endfor %}
  </div>
  <div class="{{class_bg}} svg-container">
      {{ graph|safe }}
  </div>
{% endif %}