{% extends 'base_money.html' %}
{% load graph_display_tags static %}

{% block extrastyle %}
<!-- Mis en place pour FireFox sinon table1 se superpose avec table2 mais pas concluant-->
<style type="text/css">
  .my-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  .my-table td, .my-table th {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  .my-table::-moz-focus-inner { border: 0; padding: 0; margin:0; }
</style>
{% endblock extrastyle %}


{% block content %}
{% include 'renta/_renta_form.html' %}

<!-- Year graphic -->
<h4><strong>Trésorerie</strong> annuelle (TVAC)</h4>
{% display_2graph 'graph_year' graph_year1 graph_year2 %}


<!-- MONTH Graphic in/out -->
<h4><strong>Trésorerie</strong> mensuelle (TVAC)</h4>

<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <p>Trésorerie {{ request.session.year1 }}/mois</p>
      {% display_table_global '1' 'TRESO' %}
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <p>Trésorerie {{ request.session.year2 }}/mois</p>
      {% display_table_global '2' 'TRESO' %}
  </div>
</div>
{% display_2graph 'graph_month' graph_month1 graph_month2 %}

<!-- MONTH Graphic solde/soldecum -->
<h4><strong>Trésorerie</strong> mensuelle (TVAC) Solde/Solde cumulé</h4>
{% display_2graph 'graph_month' graph_month1_solde graph_month2_solde %}

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'refresh_year_list.js' %}"></script>
{% endblock js %}
