{% extends 'base_money.html' %}
{% load i18n %}

{% block content_title %}
    <h3>{% trans "Trésorerie, année prévisionnelle" %}</h3>
    <h6>{% trans "(montant FACTURÉ TVAC)" %}</h6>
{% endblock %}

{% block content %}
<form action="" method="get" class="form my-2" id="form_year">	
    <div class="row">
        <div class="px-3">{{ form.year1 }}</div>
        <div>
            {% trans "Sélectionnez l'année la plus représentative de votre activité." %}
            {% trans "Cette année vous servira de base pour votre année prévisionnelle dont les montants mensuels pourront encore être adaptés par la suite." %}
        </div>
    </div>  
</form>

<div class="row">
    <div class="px-3">
        {{ df|safe }}
    </div>
    <div>
        {{ graph1|safe }}
        <form action="" method="post" id="form_validate">
            {% csrf_token %}
            <textarea id="id_records_container" name="df_records" sytle="display:none;">{{df_records|safe}}</textarea>
            <button class="btn btn-danger2 mt-3" type="submit">{% trans "Valider" %}</button>
        </form>

    </div>  
</div>

{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    $('#id_records_container').hide();
    $(document).on('change', '#id_year1', function (e) {
        e.preventDefault();
        $("#form_year").submit()
    });
</script>
{% endblock js %}