{% extends 'base_money.html' %}
{% load i18n csstags graph_display_tags l10n %}

{% block content_title %}
    <h3>{% trans "Trésorerie, année prévisionnelle vs année " %} {{ year|unlocalize }}</h3>
    <h6>{% trans "(montant FACTURÉ TVAC)" %}</h6>
{% endblock %}

{% block content %}

{% define 'treso_prev_index' as pathPREVISION %}
<p>Ce graphique est prévu pour comparer une 
<button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathPREVISION %}';">
{% trans "année prévisionnelle" %}
</button> à une autre année aux choix.</p>

<hr>
<!-- Form DOM -->
<form action="" method="get" class="form my-2" id="form_year">	
    <div class="row">
        <div class="col-md-3">{{ form.year1 }}</div>
        <div class="col-md-9">
            <p class="py-2">{% trans "Année à comparer avec l'année prévisionnelle." %}</p>
        </div>
    </div>  
</form>

<!-- Graphic -->
{% display_treso_graph 'solde' 'graph-form-RD' graph_solde %}
{% display_treso_graph 'rev' 'graph-form-R' graph_rev %}
{% display_treso_graph 'exp' 'graph-form-D' graph_exp %}

{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    $('#id_records_container').hide();
    $(document).on('change', '#id_year1', function (e) {
        e.preventDefault();
        $("#form_year").submit()
    });
</script>
{% endblock js %}
