{% extends 'base_money.html' %}
{% load i18n csstags graph_display_tags %}

{% block content_title %}
    <h3>{% trans "Trésorerie, année prévisionnelle" %}</h3>
    <h6>{% trans "(montant FACTURÉ TVAC)" %}</h6>
{% endblock %}

{% block content %}

<div class="row">
    <div class="px-3">
    {% if mp_list %}
    <table id="prevision_list" class="table table-bordered table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th>{% get_verbose_field_name mp_list "month" %}</th>
            <th>{% trans "Entrée(€)" %}</th>
            <th>{% trans "Sortie(€)" %}</th>
            <th>{% get_verbose_field_name mp_list "solde" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for i in mp_list %}
        <tr></tr>
            <td>{{ i.month }}</td>
            <td>{{ i.rev|floatformat }}</td>
            <td>{{ i.exp|floatformat }}</td>
            <td>{{ i.solde|floatformat }} </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p>Aucune données prévisionnelles.</p>
    {% endif %}
    </div>
    <div class="svg-container">
        {{ graph1|safe }}
        <br>
        {% define 'treso_prev_update' as pathUPD %}
        {% define 'treso_prev_delete' as pathDEL %}
        <table>
            <tbody>
                <tr>
                    <td><input type="button" class="btn btn-danger2" value="Modifier" style="width: 100%"
                        onclick="javascript:location.href = '{% url pathUPD %}';"></td>
                    <td><p class="ml-2">Modifier vos montants mensuels pour une année prévisonnelle la plus juste possible.</p></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-warning2" value="Supprimer" style="width: 100%"
                        onclick="javascript:location.href = '{% url pathDEL %}';"></td>
                    <td><p class="ml-2">Supprimer cette sélection et repartir sur une nouvelle année de référence (modifiable par la suite également).</p></td>
                </tr>
                <tr>
                    <td>
                        {% define 'treso_prev_graph' as pathGRAPH %}
                        <button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathGRAPH %}';" style="width: 100%">
                            {% trans "Retour" %}
                        </button>
                    </td>
                </tr>               
            </tbody>
        </table>
    </div>     
</div>


{% endblock content %}