{% extends 'base_money.html' %}
{% load i18n csstags graph_display_tags static %}

{% block extrastyle %}
	{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
	{{ formset.media }}
{% endblock extrastyle %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
	<h3>{% trans "Trésorerie, année prévisionnelle" %}</h3>
	<h6>{% trans "(montant FACTURÉ TVAC)" %}</h6>
{% endblock %}

{# https://www.djangosnippets.org/snippets/1442/ #}
{% block content %}

<form action="" method="POST" class="form" id="revenue_subform">
    {% csrf_token %}
		{{ formset.management_form }}
		{{ formset.non_form_errors.as_ul }}
		<table id="formset_prevision" class="form">
		{% for form in formset.forms %}
		  {% if forloop.first %}
		  <thead class="thead-light"><tr>
		    {% for field in form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  {% endif %}

		  <tr class="ligne">
		  {% for field in form %}
		    <td>
		      {{ field.errors.as_ul }}
		      {{ field }}
		    </td>
		  {% endfor %}

		  </tr>
		{% endfor %}
		</table>
		<br/>
    <button type="submit" class="btn btn-danger2">Valider</button>
    {% define 'treso_prev_list' as pathLIST %}
    <input type="button" class="btn btn-main2" value="Fermer" onclick="javascript:location.href = '{% url pathLIST %}';">

</form>
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  	<script src="{% static 'treso_prev_form.js' %}?reloadjs=20200916"></script>
{% endblock js %}
