<div style="text-align: justify;">
  <p>Vos données <b>anonymisées</b> peuvent être utilisées:</p>
  <ul>
    <li>dans le cadre d’études statistiques de l’utilisation de Tresoferme et à des fins d’optimisation du site et des services;</li>
    <li>dans le cadre d’études scientifiques dont les objectifs et la durée devront être explicitement mentionnés;</li>
    <li>dans le cadre d’étude statistiques pour des recommandations visant à soutenir le secteur agricole;</li>
  </ul>
  <p>Dans ce cas, les informations seront anonymisées et agrégées. Aucune information individuelle ne sera publiée.</p>
  <p>Le cryptage des données personnelles assure dans tous les cas qu’aucun lien ne puisse être établi avec votre identité.</p>
  <p>Vous pouvez à tout moment retirer votre consentement via la gestion de votre compte TresoFerme.</p>
</div>
