{% extends 'base_accounts.html' %}
{% load i18n csstags static bootstrap4 %}

{% block title %}{% trans "S'inscrire" %}{% endblock %}

{% block content_title %}<h3>{% trans "S'inscrire" %}</h3>{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="signup">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-warning">{{ form.non_field_errors }}</div> 
    {% endif %}

    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.username.label }}</label>
        <div class="col-md-9">{{ form.username }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.first_name.label }}</label>
        <div class="col-md-9">{{ form.first_name }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.last_name.label }}</label>
        <div class="col-md-9">{{ form.last_name }}</div> 
    </div>


    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="id_mobile">Téléphone</label>
        <div class="col-md-9"><input type="text" name="mobile" class="form-control" placeholder="Téléphone" title="" required id="id_mobile"></div>
    
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.company.label }}</label>
        <div class="col-md-9">{{ form.company }}</div> 
    </div>        
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.email.label }}</label>
        <div class="col-md-9">{{ form.email }}</div>

    </div>

    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.password1.label }}</label>
        <div class="col-md-9">{{ form.password1 }}
            <small class="form-text text-muted">{{ form.password1.help_text }}</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.password2.label }}</label>
        <div class="col-md-9">{{ form.password2 }}
            <small class="form-text text-muted">{{ form.password2.help_text }}</small>
        </div>
        {{ form.errors.password2 }}
    </div>

    <div class="form-group row">
        <label class="col-md-5 col-form-label requiredfield">
            Je consens à l'accès à mes 
            <a href="#" data-toggle="modal" data-target="#infos">données anonymisées à des fins statistiques?</a>
        </label>
        <div class="col-md-1 checkbox">{{ form.data_access }}</div>
    </div>
    <div class="form-group row">
        <label class="col-md-5 col-form-label requiredfield">
            J’accepte les <a target="_blank" rel="noopener noreferrer" href="{% static 'tresoferme_condition_utilisation.pdf' %}">conditions d’utilisations</a>
        </label>
        <div class="col-md-1 checkbox">{{ form.cgu }}</div>
    </div>
    {% buttons %}
        <button type="submit" class="btn btn-danger2">{% trans "S'inscrire" %}</button>
        <button type="button" class="btn btn-main2 goBack">{% trans "Retour" %}</button>
    {% endbuttons %}
</form>


<div class="modal" id="infos">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Accès aux données</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>            
      </div>
      <div class="modal-body">
        {% include '_data_access_info.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
    <!-- <script src="{% static 'required_fields.js' %}"></script> -->
    <script>
        var inputtag = $(".form-group input");
        for (var i = 0; i < inputtag.length; i++) {
                var myid = inputtag[i].id;
                $("#" + myid).addClass('form-control');
            } 
    </script>
{% endblock js %}
