{% extends 'base_accounts.html' %}
{% load i18n csstags static bootstrap4 %}

{% block title %}{% trans "S'inscrire" %}{% endblock %}

{% block content_title %}<h3>{% trans "S'inscrire" %}</h3>{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="signup">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-danger2">{% trans "S'inscrire" %}</button>
        {% define 'home' as pathHOME %}
        <button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathHOME %}';">{% trans "Annuler" %}</button>
    {% endbuttons %}
</form>

<div class="modal" id="infos">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Accès aux données</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>            
        </div>
        <div class="modal-body">
          {% include '_data_access_info.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
    <script src="{% static 'required_fields.js' %}"></script>
    <script src="{% static 'load_ddl_zip.js' %}"></script>

    <!-- Add condition utilisations -->
    <script>
        let href_data_access = "<a href='#' data-toggle='modal' data-target='#infos'>"
        $("label[for=id_data_access]").each(function(i,e) {
            $(e).html(
                href_data_access+$(e).html()+"</a>");
        });
        
        let href_cgu = "<a target='_blank' rel='noopener noreferrer' href='/static/tresoferme_condition_utilisation.pdf'>"
        $("label[for=id_cgu]").each(function(i,e) {
            $(e).html(
                href_cgu+$(e).html()+"</a>");
        });
    </script>

{% endblock js %}
