{% extends 'base_accounts.html' %}
{% load i18n %}


{% block content %}

<p>{% blocktrans %}Erreur lors de l'activation.{% endblocktrans %}</p>
<p>{% blocktrans %}{{ error }}.{% endblocktrans %}</p>

{% endblock %}
