{% extends 'base_accounts.html' %}
{% load i18n %}


{% block content %}

<p>{% blocktrans %}Votre compte a été activé mais requiert encore validation du responsable de l'application au <strong>{{ struct }}</strong>.{% endblocktrans %}</p>

<p>{% blocktrans %}Il prendra contact avec vous dans les jours qui viennent.{% endblocktrans %}</p>

<p>{% blocktrans %}<a href="mailto:{{ user_struct_email }}?subject=tresoferme" target="_top">Contactez le</a> sans nouvelles de sa part après 1 semaine.{% endblocktrans %}</p>


{% endblock %}
