{% extends 'base_accounts.html' %}
{% load i18n static %}

{% block content %}
    <p>{% trans "Votre compte a déjà été activé." %}</p>
    <p>{% trans "Il faut maintenant attendre l'activation par le responsable de l'application." %}</p>

    <a href="{% url 'mylogin' %}" class="btn btn-outline-success">Connexion</a>
{% endblock %}