// @import 'reset';
@import 'variables';
@import 'sidebar';
@import 'accordion';
// @import 'radiobtn';
// https://stackoverflow.com/questions/1625681/dynamically-change-color-to-lighter-or-darker-by-percentage-css-javascript
// set color lighten or darken
// {
//   background: darken(@colorContentBG,5%);
//   border: none;
// }

// set body
body {
  margin: 0;
  font: 100% $font-stack;
  color: $color-font;
}

// reset p for clean display in result
p {
	margin: 0;
	padding: 0.25rem 0rem;
	border: 0;
	font-size: 100%;
  font: inherit;
  color: $color-font;
	vertical-align: baseline;
}
// set a
a {
  color: $color-info2;
  hover {
    color: $light-blue;
  }
}

// https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// h1 à h6 avec le bleu bootstrap
#{headings(1,6)} {
  color: $color-main;
}
.navbar {
  padding: 0px;
  background-color: $sidebar;
  // margin-left:150px !important;
  // margin-right:150px !important; 
}

// FOOTER
footer {
  padding: 25px 0;
  font-family: 'Montserrat';
  font-size: 12px;
  text-align: center;
  color: #000;
  background-color: #F1F1F1;
}
// Keep it! otherwise pagetop button from index.html page disapear
footer ul {
  margin-bottom: 0;
}

// This is to remove the underline when foccus on href
// footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
//   text-decoration: none;
// }

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: #21bf6b;
    line-height: 46px
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff
}

.scroll-to-top:hover {
    background: #003526
}

.scroll-to-top i {
    font-weight: 800
}

// .page-footer {
//   padding: 0px;
//   background-color: $sidebar;
// }

// PAGER_COUNTER
.toppagebox {
  display: flex;
  align-items: flex-start; //alignement horizontal
  align-content: center; //alignement vertical des éléments dans la box
  vertical-align: middle; 
}
.page-text {
  color: $color-main;
  background-color: $color-font2;
  padding: .5rem 0rem;
}
.page-counter {
    color: $color-main;
    background-color: $color-font2;
    border-color: $color-main;
    border-width: thin;
    border-style: solid;
    border-radius: .25rem;
    padding: .5rem .75rem;
    margin: 0rem .3rem;
}
// PAGER
.page-link {
    color: $color-main;
    background-color: $color-font2;
}
.page-item.active .page-link {
    color: $color-font2;
    background-color: $color-main;
}

// TAB
.nav-link {
  color: $color-main;
}

// BUTTON
.btn-main2 {
    color: $color-font2;
    background-color: $color-main;
    border-color: $color-main;
    padding: 6px 14px;
    border-radius: .25rem;
}
.btn-danger2 {
  color: $color-font2;
  background-color: $color-danger2;
  border-color: $color-danger2;
  padding: 6px 14px;
  border-radius: .25rem;
}
.btn-warning2 {
  color: $color-font2;
  background-color: $color-warning2;
  border-color: $color-warning2;
  padding: 6px 14px;
  border-radius: .25rem;
}
.btn-info2 {
  color: $color-font2;
  background-color: $color-info2;
  border-color: $color-info2;
  padding: 6px 14px;
  border-radius: .25rem;
}

.btn-info2lighter {
  color: $color-font2;
  background-color: $light-info2;
  border-color: $light-info2;
  padding: 6px 14px;
  border-radius: .25rem;
}
.btn-neutral2 {
  color: $color-font2;
  background-color: $color-font;
  border-color: $color-font;
  padding: 6px 14px;
  border-radius: .25rem;
}
// .btn-neutral2:hover {
//   fill: white;
// }
// ALERT
.alert-info2 {
  color: $color-font2;
  background-color: lighten($color-info2, 20%);
  border-color: darken($color-info2, 20%);
}
.alert-warning2 {
  color: $color-font2;
  background-color: lighten($color-warning2, 20%);
  border-color: darken($color-warning2, 20%);
}
.alert-main2 {
  color: $color-font2;
  background-color: ligthen($color-main, 20%);
  border-color: darken($color-main, 20%);
}
.alert-danger2 {
  color: $color-font2;
  background-color: lighten($color-danger2, 20%);
  border-color: darken($color-danger2, 20%);
}
// BACKGROUND
/*th {
  background-color: $color-main;
  color: white;
  font-weight: bold;
} // managed by thead-ligth*/
.bg-danger2 {
  background-color: $color-danger2 !important;
}
.bg-main2 {
  background-color: $color-main;
}
.bg-light-grey {
  background-color: $light-grey;
}
.bg-light-red15 {
  background-color: lighten($color-danger2, 15%);
}
.bg-light-red {
  background-color: lighten($color-danger2, 20%);
}
.bg-light-red30 {
  background-color: lighten($color-danger2, 30%);
}
.light-red {
  color: $light-red;
}
.bg-light-green {
  background-color: $light-green;
}
.bg-light-green10 {
  background-color: lighten($light-green, 10%);
}
.bg-light-orange {
  background-color: $light-orange;
}
.bg-light-yellow {
  background-color: $light-yellow;
}

// Used in expense_detail.html and revenue_detail.html5
.duedatebox {
  height: 1.5rem;
  border-radius: 5px;
  border:1px solid black;
  text-align: center;
  padding: .1rem .5rem;
  font-weight: bold;
}

/////////////////
// Form management
/////////////////
.requiredfield::after {
    content: "*";
    color: red;
}

// Add space before tab crispy-form
.tab-content {
  margin-top: 1rem;
}
.display-detail {
  margin-left: 1rem;
  margin-right: 1rem;
}

.etiquette {
	font-weight: bold;
  padding-left: 0px;
  text-align: right;
}

.encart {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  background-color: #e9ecef;
}
.encart:empty
{
  padding: 1rem;
}

//Graph form display
.graph-form-RD {
  padding: 1rem;
  background: $light-grey;
}

.graph-form-R {
  padding: 1rem;
  background: $color-main;
}

.graph-form-D {
  padding: 1rem;
  background: $color-danger2;
}

// Avoid table overlapping in Year/Month Graph
// @media screen and (max-width: 1420px) {
// 	// hidden by default and visible when clicked
// 	#sidebar {
// 	    margin-left: -200px;
// 	}
// 	#sidebar.active {
// 	    margin-left: 0;
// 	}
// }