@import 'variables';
/******
SIDEBAR
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidebar_responsive
https://bootstrapious.com/p/bootstrap-sidebar
*****/
#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  background-color: $sidebar;
  z-index: 99;
}
// HBP not used
#sidebar p {
  	display: block;
  	color: $color-main;
  	font-weight: bold;
  	padding: 10px 0px 0px 4px;
  	text-decoration: none;
}

#sidebar a {
  display: block;
  color: $color-font;
  padding: 15px;
  text-decoration: none;
}
// HBP pour avoir head-menu en vert
#sidebar a.head-menu {
  color: $color-main;
  font-weight: bold;
  padding: 16px 0px 14px 4px;
}

#sidebar a.active {
  background-color: $color-main;
  color: white;
}

#sidebar a:hover:not(.active) {
  background-color: $color-font;
  color: white;
}

#sidebar.active {
    margin-left: -200px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.content {
    width: 100%;
//     margin-left: 200px; // no more margin-left because managed by flex display!
//     padding: 1px 5px 1px 15px; // padding fixed by container-fluid
    min-height: 100vh;
    transition: all 0.3s;
}

#rightbar {
  margin: 0;
  padding: 10px 0 0 10px;
  min-width: 250px;
  max-width: 250px;
  background-color: $sidebar;
  position: fixed!important; // obligé sinon pas d'alignement à droite!
  right: 0px;
  height: 100%;
  overflow: auto; }

#rightbar.active {
    margin-right: -250px;
}

@media screen and (max-width: 768px) {
	// hidden by default and visible when clicked
	#sidebar {
	    margin-left: -200px;
	}
	#sidebar.active {
	    margin-left: 0;
	}
}

/* mise en forme basée sur sidebar bootstrap */
// ligne après chaque élément de menu
// #sidebar ul.components > li {
//     border-bottom: 1px solid #333;
// }
// couleur différente lorsque actif (voir si pas de confli avec ce qui est défini ci-dessus)
// voir comment géréer actif ou non
// #sidebar ul li.active>a,
// a[aria-expanded="true"] {
//     color: #fff;
//     background: #6d7fcc;
// }
