/*!
 * Start Bootstrap - New Age v5.0.6 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
} 
 
html,
body {
  width: 100%;
  height: 100%;
  padding-top:50px;
}

/* a {
  color: #21BE6A;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #00A44D;
} */

.p-80{padding: 80px 0;}
.pt-80{padding-top: 80px}
.pb-80{padding-bottom: 80px}

section h2 {
  font-size: 50px;
}

h2,h3,h4 {
  font-family: 'Montserrat';
}
.text-success-dark{color: #003526}
.bg-success-dark{background-color: #003526}

.divider {
    width: 40px;
    height: 2px;
    padding: 0;
    margin: 27px auto 34px;
    background: #21BF6B;
    border: none
}

.divider-vertical {
    width: 2px;
    height: 20px;
    background: #21BF6B
}

.divider-sm {
    width: 30px
}

.divider-lg {
    width: 60px;
    height: 2px
}

header{
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
  color: white;
  background-color: #21BF6B;
}
header h1{font-size:4rem}
header h2{font-size:2.5rem}
header ul {
  list-style: none;
  padding: 0;
}

.shape {
    position: absolute;
    pointer-events: none
}

.shape>* {
    display: block
}

.shape:not([class*=shape-blur]) {
    overflow: hidden
}

.shape:not([class*=shape-blur])>* {
    transform: scale(2)
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .shape>svg {
        display: none
    }
}

.shape-top {
    top: 0;
    right: 0;
    left: 0
}

.shape-top>* {
    transform-origin: bottom center
}

.shape-right {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.shape-right>* {
    position: inherit;
    top: inherit;
    bottom: inherit;
    right: inherit;
    transform-origin: center left
}

.shape-bottom {
    right: 0;
    bottom: 0;
    left: 0
}

.shape-bottom>* {
    transform-origin: top center
}

.shape-left {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.shape-left>* {
    position: inherit;
    top: inherit;
    bottom: inherit;
    left: inherit;
    transform-origin: center right
}

.shape-fluid-x>* {
    width: 100%;
    height: auto
}

.shape-fluid-y>* {
    width: auto;
    height: 100%
}

.shape-blur-1 {
    top: 0;
    right: 0;
    left: 0
}

@media (min-width:768px) {
    .shape-blur-1 {
        bottom: 0;
        left: 50%;
        right: auto
    }
}

.shape-blur-1>* {
    width: 100%;
    height: auto
}

@media (min-width:768px) {
    .shape-blur-1>* {
        width: auto;
        height: 100%
    }
}

.shape-blur-2 {
    top: 0;
    right: 0;
    left: 0
}

@media (min-width:768px) {
    .shape-blur-2 {
        bottom: 0;
        right: 50%;
        left: auto
    }
}

.shape-blur-2>* {
    width: 100%;
    height: auto
}

@media (min-width:768px) {
    .shape-blur-2>* {
        width: auto;
        height: 100%;
        float: right
    }
}

.shape-blur-3 {
    top: 0;
    right: 0;
    left: 0
}

.shape-blur-3>* {
    width: 100%;
    height: auto
}

.shape-blur-4 {
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.3)
}

.shape-blur-4>* {
    width: auto;
    height: 100%
}