$font-stack: Montserrat, sans-serif;

$sidebar: #f1f1f1;
$color-font: #003526;
$color-font2: white;
$color-main: #21bf6b;
$color-danger2: #f46036;
$color-warning2: #f9ca24;
$color-info2: #4834d4;

$light-yellow: lighten(yellow, 30%);
$light-orange: lighten(orange, 25%);
$light-red: lighten( red, 30%);
$light-grey: #f8f8ff;
$light-blue: lighten(blue, 20%);
$light-green: #9fdf9f;
$light-info2: lighten(#4834d4, 30%);


// $light-yellow: lighten($color-warning2, 30%);
// $light-orange: lighten($color-danger2, 25%);
// $light-red: lighten( red, 30%);
// $light-green: lighten($color-main, 40%);
// $light-grey: lighten(grey, 20%);
// $light-blue: lighten($color-info2, 20%);

// $light-yellow: #fdedb4;
// $light-orange: #fcd8cf;
// $light-red: #F7D4D7;
// $light-green: #d3f8e4;
// $light-grey: #dee2e6;
// $light-blue: #c7c0f2;
