{% load i18n %}
<!-- Sidebar  -->
<nav id="sidebar">

    <ul class="list-unstyled components">       
        <p>Lexique</p>
        <li>
        <ul class="list-unstyled" id="info_lexique">
            <li>
                <a href="{% url 'lex_amort' %}">Amortissement</a>
            </li>
            <li>
                <a href="{% url 'revcat_list' %}">Catégories des Entrées</a>
            </li>
            <li>
                <a href="{% url 'expcat_list' %}">Catégories des Sorties</a>
            </li>                                                 
            <li>
                <a href="{% url 'lex_credit' %}">Crédit</a>
            </li>
            <li>
                <a href="{% url 'lex_emprunt' %}">Emprunt</a>
            </li>
            <li>
                <a href="{% url 'lex_renta' %}">Rentabilité</a>
            </li>
            <li>
                <a href="{% url 'lex_treso' %}">Trésorerie</a>
            </li>

        </ul>
        </li>

        <li>
        <p>Tutoriel</p>
        <ul class="list-unstyled" id="menu_tutoriel">
            <li>
                <a href="{% url 'tuto_accounts' %}">Gestion du compte</a>
            </li>            
            <li>
                <a href="{% url 'tuto_reference' %}">Référence</a>
            </li>
            <li>
                <a href="{% url 'tuto_gestcourante' %}">Gestion courante</a>
            </li>
            <li>
                <a href="{% url 'tuto_gestannexe' %}">Gestion annexe</a>
            </li>
            <li>
                <a href="{% url 'tuto_analyse' %}">Analyse</a>
            </li>                                     
        </ul>
        </li>
        

        <li>
        <p>Autre</p>
        <ul class="list-unstyled" id="menu_autre">
            <li>
                <a href="{% url 'faq_index' %}">FAQ</a>
            </li>
            <li>
                <a href="{% url 'version_index' %}">Suivi des versions</a>
            </li>                         
        </ul>
        </li>
          
    </ul>

</nav>
