{% extends 'base_info.html' %}

{% block content %}
<h1>{{ view.title }}</h1>

<div class="row">
    <div class="col-8" style="text-align: justify;">
        {% include view.include_page %}
    </div>
</div>

{% endblock content %}