{% extends 'base_info.html' %}
{% load static %}

{% block title %}TresoFerme Info{% endblock %}

{% block content %}
<h1>Point <span class="fas fa-info"></span>nfo TresoFerme</h1>




{% endblock content %}
