<p>
La rentabilité renvoie aux notions de charge et de produit. 
</p>
<br>

<p>
<strong>Une charge</strong> est tout élément qui vient diminuer le résultat et donc la rentabilité d’une entreprise.
Elle ne donne pas nécessairement lieu à une sortie physique d’argent
 (par exemple les amortissements impactent le résultat chaque année mais ne correspondent pas à une sortie monétaire de l’exploitation) 
 et toute sortie physique d’argent n’est pas nécessairement une charge 
 (par exemple la partie capital du remboursement d’un emprunt n’impacte pas la rentabilité, seul les intérêts constituent une charge).</p>

<br>

<p>
<strong>Un produit</strong> est tout élément qui vient augmenter le résultat et donc la rentabilité de l’entreprise. 
Tout comme les charges, une entrée monétaire ne signifie pas qu’il y a produit 
(lorsqu’on contracte un emprunt, où qu’il y a un remboursement de la TVA, il n’y a pas d’enregistrement de produit, 
donc pas d’impacts sur la rentabilité mais bien sur la trésorerie).
</p>

<p>
Trésoferme propose une <strong>analyse simplifiée</strong> et donc partielle de la <strong>rentabilité</strong> (notamment les effets de stock ne sont pas pris en compte).
Il permet d’avoir une vue claire sur les recettes liés à une activité/atelier. 
Il permet également de suivre les dépenses qui peuvent totalement et directement être attribuées cette activité/atelier. 
Pour avoir une information de rentabilité complète il faut encore répartir les frais fixes qui impactent plusieurs ateliers et 
prendre en compte les variations de stock. 
Il s’agit donc d’une première information sur la rentabilité qui s’apparente davantage à la notion de marge brute. 
</p>