{% extends 'base_info_list.html' %}
{% load static i18n csstags %}

{% block content %}
<h4>Liste des groupes et catégories de sorties.</h4>

{% if object_list %}
<table id="expcat_list" class="table table-bordered table-hover willmaster-sort">
	<thead class="thead-light">
        <tr>
            <form id="list_search" method="get">
                <th>{{view.form.expcatgrp}}</th>
                <th>{{view.form.expcat}}</th>
                <th>{{view.form.exportxls}}</th>
                <th></th>
                <th></th>
            </form>
        </tr>        
		<tr>
            <th>{% get_verbose_field_name object_list "group" %}</th>
            <th>{% get_verbose_field_name object_list "name" %}</th>
            <th>{% get_verbose_field_name object_list "categclass" %}</th>
            <th>{% get_verbose_field_name object_list "rentatxt" %}</th>
            <th>{% get_verbose_field_name object_list "tresotxt" %}</th>
        </tr>
    </thead>
    <tbody>
		{% for i in object_list %}
		<tr>
			<td>{{ i.group.name }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.categclass }}</td>
            <td>{{ i.rentatxt|default_if_none:"" }}</td>
            <td>{{ i.tresotxt|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>    
</table>

{% else %}
    <p>Aucun résulat pour cette sélection, cliquer sur le bouton Rafraîchir pour retrouver le listing complet.</p>
{% endif %}

{% endblock content %}