<p>
    <strong>La trésorerie</strong> est la capacité d’une entreprise à disposer de suffisamment de liquidité 
    pour pouvoir honorer les échéances présentes et à venir. 
</p>

<p>
    La trésorerie se compose des soldes bancaires, mais pour gérer sa trésorerie correctement, 
    il est nécessaire de tenir compte d’autres facteurs. 
    Notamment les factures échues non encore réglées ou les créances en cours auprès de clients. 
</p>
<p>
    Dans une optique de gestion, nous tiendrons également compte des événements à venir 
    (TVA à Payer, échéances, Investissement à réaliser, saisonnalité des ventes) 
    pour anticiper sur les flux entrant et sortant à venir et ainsi déterminer le besoin de trésorerie à court terme.
</p>