

<p>
    Il existe plusieurs façons d’interpréter <strong>l’amortissement</strong>.
</p>

<p>
    La plus intuitive est de considérer que l’usure du matériel constitue un coût pour l’entreprise et 
    que si celle-ci n’en tient pas compte dans son calcul de rentabilité, 
    elle risque de ne pas pour pouvoir le renouveler une fois qu’il aura atteint sa fin de vie.
</p>
<p>
    L’amortissement constitue en quelque sorte une réserve annuelle qui permettra de renouveler cet actif une fois sa durée d’exploitation écoulée.
</p>
<p>
    Il est donc calculé sur la durée de vie estimée du bien concerné par l’investissement. 
    Des durées sont généralement convenues par l’administration et la comptabilité. 
    Elles vous sont proposées dans Trésoferme lorsque vous spécifiez le type d’investissement dans le champ « durée d’amortissement ».
</p>
