<p>
    On distingue deux grands types d’emprunts:
</p>
<br>
<strong>L’emprunt avec remboursement à paiement fixe (mensualités/annuités constantes)</strong>
<br>
<p>
    Avec l’emprunt avec remboursement à paiement fixe, on rembourse toujours le même montant pendant toute la durée de l’emprunt
    (à condition bien sûr de disposer d’un contrat à taux fixe). 
    La mensualité se compose d’une part de l’intérêt et d’autre part du remboursement du capital. 
    Si le total de la mensualité est constant, la part de chaque composante varie : 
    au début, le montant des intérêts est élevé et la partie consacrée au capital est minime. 
    Mais petit à petit, la tendance va s’inverser : le remboursement du capital prendra la majeure partie de la mensualité.
</p>
<br>
<strong>L’emprunt avec remboursement à capital fixe (mensualités/annuités dégressives)</strong>
<br>
<p>
    Avec l’emprunt à capital fixe, la part affectée au remboursement du capital emprunté est constante pendant toute la durée du contrat. 
    Par contre, la part des intérêts varie : elle est importante au départ mais va diminuer au fil du temps, 
    ce qui fait que la mensualité totale va décroître graduellement.
</p>
<br>
<table class="table table-bordered table-hover">
<tbody>
    <tr>
        <td><strong>Capital fixe</strong></td>
        <td>le montant du capital à rembourser ne change pas par période d'échéance (mois) sur toute la durée de l'emprunt</td>
    </tr>
    <tr>
        <td><strong>Payement fixe</strong></td>
        <td>le payement à rembourser par période reste identique</td>
    </tr>    
</tbody>
</table>
