
<p>En cas de cas de besoin de trésorerie (= liquidité) temporaire et pour maintenir la trésorerie en équilibre il est parfois nécessaire de recourir à un crédit à court terme.</p>
<p>Deux grands types de crédits à court terme sont généralement utilisés: le crédit caisse (ou crédit en compte courant) et le straight loan (ou l’avance à terme fixe) qui se distinguent par leur durée, les fréquences de prélèvements et la logique de calcul des intérêts à payer.</p>
<br>
<ul>
    <li>Le “<a href="http://financieringvanondernemingen.be/sites/default/files/files/fiche_de_produit_straight_loan_-_fr.pdf" target="_blank">straight loan</a>” (ou l’avance à terme fixe) est un prêt non renouvelable sous la forme d’une ouverture de crédit à court terme (maximum 1 an). Un “straight loan” a une durée déterminée et un montant fixé et est utilisé en une fois. Le montant, la durée et le taux d’intérêt pour la durée totale du prêt sont déterminés, dès la signature du contrat. Le taux d’intérêt est fixé pour la durée totale du prêt. Le taux est calculé sur le montant effectivement prêté et pour toute la durée. Il est payé à l’échéance.</li>
    <br>
    <li>Le <a href="http://financieringvanondernemingen.be/sites/default/files/files/fiche_de_produit-credit_de_caisse-fr.pdf" target="_blank">crédit de caisse</a> (ou crédit en compte courant) est un crédit à court terme, généralement d’une durée indéterminée. Un crédit de caisse prend la forme d’une ouverture de crédit ou d’un dépassement autorisé sur le compte à vue. Une fois ouvert, il est donc possible d’effectuer des prélèvements à tout moment dans la limite de crédit autorisé. L’intérêt se compose d’un taux de base (qui peut être adapté par la banque en fonction de l’évolution des taux du marché) auquel s’ajoute une marge.</li>
</ul>
<p>Les intérêts sont calculés par jour sur l’encours de crédit et sont perçus tous les trois mois après échéance du terme.</p>
<br>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Durée</th>
            <th>Prélèvements</th>
            <th>Taux d'intérêt</th>
            <th>Début calcul des intérêts</th>
            <th>Fin calcul des intérêts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Straight loan</strong></td>
            <td>Maximum 1 an</td>
            <td>Aux moments et montant prédéfini lors de la souscriptions du prêt</td>
            <td>Entre 1 et 2 %</td>
            <td>A la souscription du crédit</td>
            <td>A la fin du crédit</td>
        </tr>
        <tr>
            <td><strong>Crédit de caisse</strong></td>
            <td>Infinie</td>
            <td>A tout moment</td>
            <td>Plus de 8 %</td>
            <td>Dès prélèvement</td>
            <td>Au remboursement de la somme empruntée</td>
        </tr>		
    </tbody>
</table>
