{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Gestion annexe</h1>

<nav class="navbar bg-light">
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#cre">Crédit</a></li>
    <li class="nav-item"><a class="nav-link" href="#emp">Emprunt</a></li>
    <li class="nav-item"><a class="nav-link" href="#dev">Bon de commande ou Devis</a></li>    
    <li class="nav-item"><a class="nav-link" href="#inv">Investissement</a></li>
</ul>
</nav>

<hr>

<div id="cre">
    <div class="d-flex justify-content-start mt-3">
        <h3>Crédit</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QIL0I2-Gelg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="emp">
    <div class="d-flex justify-content-start mt-3">
        <h3>Emprunt</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ncjMXdVTD4g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="dev">
    <div class="d-flex justify-content-start mt-3">
        <h3>Bon de commande ou Devis</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dzmK_TnXgdU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<div id="inv">
    <div class="d-flex justify-content-start mt-3">
        <h3>Investissement</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TzK9FWxyQdo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock content %}