{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Analyse trésorerie</h1>

<nav class="navbar bg-light">
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#prev">Prévision vs Réalisé</a></li>
</ul>
</nav>

<hr>

<div id="prev">
    <div class="d-flex justify-content-start mt-3">
        <h3>Trésorerie: Prévision vs Réalisé</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VVSD_4vfHfU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% endblock content %}