{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Gestion courante</h1>

<nav class="navbar bg-light">
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#rev">Entrée: encoder une vente comptoir</a></li>
    <li class="nav-item"><a class="nav-link" href="#fac">Entrée: encoder une facture</a></li>
    <li class="nav-item"><a class="nav-link" href="#pay">Entrée: suivi paiements clients</a></li>
    <li class="nav-item"><a class="nav-link" href="#cre">Entrée: suivi notes de crédits</a></li>
    <li class="nav-item"><a class="nav-link" href="#dep">Sortie: encoder une dépense</a></li>
    <li class="nav-item"><a class="nav-link" href="#tva">Sortie: encoder une dépense comportant divers taux de TVA</a></li>
</ul>
</nav>

<hr>

<div id="rev">
    <div class="d-flex justify-content-start mt-3">
        <h3>Entrée: encoder une vente comptoir</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jJrKKb_xYEA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="fac">
    <div class="d-flex justify-content-start mt-3">
        <h3>Entrée: encoder une facture</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NbTnGnjLw9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="pay">
    <div class="d-flex justify-content-start mt-3">
        <h3>Entrée: suivi paiements clients</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4nLFC19uyMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="cre">
    <div class="d-flex justify-content-start mt-3">
        <h3>Entrée: suivi notes de crédits</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xbL8niwVyJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="dep">
    <div class="d-flex justify-content-start mt-3">
        <h3>Sortie: encoder une dépense</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/u89QVp_U4OY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="tva">
    <div class="d-flex justify-content-start mt-3">
        <h3>Sortie: encoder une dépense comportant divers taux de TVA</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/a5WylIiwdX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock content %}