{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Gestion de compte</h1>


<div id="accounts_manage">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XxEqWGz19WU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% endblock content %}