{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Gestion des références</h1>

<nav class="navbar bg-light">
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#cat_entree">Catégories pour les entrées</a></li>
    <li class="nav-item"><a class="nav-link" href="#cat_sortie">Catégories pour les sorties</a></li>    
    <li class="nav-item"><a class="nav-link" href="#frn">Encoder un fourniseur</a></li>
</ul>
</nav>

<hr>

<div id="cat_entree">
    <div class="d-flex justify-content-start mt-3">
        <h3>Catégories pour les entrées</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WIYHoDgCK1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="cat_sorie">
    <div class="d-flex justify-content-start mt-3">
        <h3>Catégories pour les sorties</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cYhUoVaan0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div id="frn">
    <div class="d-flex justify-content-start mt-3">
        <h3>Encoder un fournisseur</h3>
        <p class="ml-3 py-2"><a href="#top">Retour menu</a></p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZKMIKK37Nvs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% endblock content %}