{% extends 'base_info.html' %}
{% load static %}

{% block content %}
<h1>Suivi des versions</h1>

<table id="client_list" class="table table-bordered table-hover willmaster-sort">
	<thead class="thead-light">
        <th>Version</th>
        <th>Date</th>
        <th>Actions effectuées</th>
    </thead>
    <tbody>
    <tr>
        <td>1.0.1</td>
        <td>01/05/2020</td>
        <td>Mise en ligne officielle</td>
    </tr>
    <tr>
        <td>1.1.0</td>
        <td>11/05/2020</td>
        <td>
            Majeur: Ajout d'un message d'avertissement sur les enregistrements liés lors de la suppression d'une référence (Atelier, Client, Fournisseur ou Produit).
        </td>
    </tr>
    <tr>
        <td>1.1.1</td>
        <td>11/05/2020</td>
        <td>Mineur:
            <ul>
                <li>Ajout gestion statut juridiques</li>
                <li>Ajout Export Xls pour gestion utilisateurs</li>
                <li>Ajout Code couleur gestion utilisateurs selon dernière connexion</li>
                <li>Ajout code postal lors de l'inscription</li>
                <li>Mise en page impression facture</li>
            </ul>
            </p>
        
        </td>
    </tr>
    <tr>
        <td>1.2.1</td>
        <td>01/06/2020</td>
        <td>
            Majeur: Ajout codes postaux France et Luxembourg => champ recherche code postal ou localité
        </td>
    </tr>
    <tr>
        <td>1.3.0</td>
        <td>17/06/2020</td>
        <td>
            <p>Majeur: Mise à jour automatique catégorie dans Sortie lorsque modification catégorie fournisseur</p>
            <p>Mineur: Correction passage année comme paramètre sans séparateur milliers</p>
            <p>Mineur: Ajout email, tel et adresse dans facture/bon de commande/devis</p>
        </td>
    </tr>
    <tr>
        <td>1.3.1</td>
        <td>19/06/2020</td>
        <td>
            <p>Mineur: Ajout source GitRural en bas de page</p>
        </td>
    </tr>
    <tr>
        <td>1.4.1</td>
        <td>26/06/2020</td>
        <td>
            <p>Majeur: Adaptations pour installation en local avec base de données SQLite</p>
        </td>
    </tr>
    <tr>
        <td>1.4.2</td>
        <td>15/07/2020</td>
        <td>
            <p>Mineur: Adaptations base de données SQLite</p>
        </td>
    </tr>
    <tr>
        <td>1.4.3</td>
        <td>24/07/2020</td>
        <td>
            <p>Mineur: Arrondi calcul TVA dans facture et bon de commande.</p>
            <p>Mineur: Othographe + changements de textes.</p>
        </td>
    </tr>
    <tr>
        <td>1.4.4</td>
        <td>02/09/2020</td>
        <td>
            <p>Mineur: Correction calcul TVA pour les références Produit.</p>
            <p>Mineur: Export code pays des Clients pour les Entrées et des Fournisseurs pour les Sorties.</p>
            <p>Mineur: Intégration case à cocher 'aide minimi' pour les Primes dans les Entrées.</p>
        </td>
    </tr>
    <tr>
        <td>1.4.5</td>
        <td>11/09/2020</td>
        <td>
            <p>Mineur: Correction gestion des mensualités d'emprunts.</p>
        </td>
    </tr>
    <tr>
        <td>1.5.1</td>
        <td>17/09/2020</td>
        <td>
            <p>Majeur: Ajout décimales pour montant, calcul TVA et totaux.</p>
            <p>Majeur: Ajout Sous totaux TVA pour les factures et bons de commande.</p>
            <p>Majeur: Correction formule calcul TVA dans les produits.</p>
        </td>
    </tr>
    <tr>
        <td>1.5.2</td>
        <td>06/10/2020</td>
        <td>
            <p>Mineur: Correction problème suppression produit dans factures et bons de commande.</p>
        </td>
    </tr>
    <tr>
        <td>1.5.3</td>
        <td>07/10/2020</td>
        <td>
            <p>Mineur: Correction problème suppression produit dans factures et bons de commande avec FireFox.</p>
            <p>Mineur: Correction montant payé total.</p>
        </td>
    </tr>
    <tr>
        <td>1.5.4</td>
        <td>20/10/2020</td>
        <td>
            <p>Mineur: Affichage en superposition lorsque nr lot trop grand dans facture.</p>
            <p>Mineur: Suppression séparateur milliers qui cause d'autres problèmes.</p>
        </td>
    </tr>                              
    <tr>
        <td>1.5.5</td>
        <td>30/11/2020</td>
        <td>
            <p>Mineur: Suppression vérification nr TVA BE pour encodage nr TVA autre pays.</p>
        </td>
    </tr>
    <tr>
        <td>1.5.6</td>
        <td>07/01/2021</td>
        <td>
            <p>Mineur: Adaptation django 3.1 pour money.widget.DataAttributesSelect</p>
            <p>Mineur: Correction bug entrées ou sorties restent en rouge même après paiement</p>
        </td>
    </tr>
    <tr>
        <td>1.5.7</td>
        <td>13/01/2021</td>
        <td>
            <p>Mineur: pas d'affichage du graphique annuel avec séparateur milliers => supprimé</p>
        </td>
    </tr>           

    <tr>
        <td>1.6.0</td>
        <td>23/02/2021</td>
        <td>
            <p>Mineur: augmentation taille des champs Nr entreprise, nom de produit et descriptif facture</p>
            <p>Mineur: Ajout case à cocher 'envoyé' pour les bon de commandes, devis et factures</p>
            <p>Mineur: Bug rapatriement prix et tva de produits lorsque associé à 1 seul atelier</p>
        </td>
    </tr> 

    </tbody>   
</table>


{% endblock content %}