{% extends 'base_accounts.html' %}
{% load i18n csstags static %}

{% block title %}
  {% trans 'Compte' %}
{% endblock %}

{% block content_title %}
  <h3>{% get_verbose_model_class_name object %} &raquo; {{ object.username }}</h3>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item active"><a class="nav-link" href="#Identification" role="tab" data-toggle="tab">Identification</a></li>
  <li class="nav-item"><a class="nav-link" href="#Contact" role="tab" data-toggle="tab">Contact</a></li>
  <li class="nav-item"><a class="nav-link" href="#Entreprise" role="tab" data-toggle="tab">Ferme</a></li>
  <li class="nav-item"><a class="nav-link" href="#Gestion" role="tab" data-toggle="tab">Gestion des données</a></li>       
</ul>

<div class="form-horizontal">
  <div class="tab-content">
    <!-- Identification -->
    <div role="tabpanel" id="Identification" class="tab-pane active" >
      {% if object.username %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% trans "Identifiant" %}</span></div>
          <div class="col-sm-9">{{ object.username }}</div>
        </div>
      {% endif %}
      {% if object.first_name %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% trans "Prénom" %}</span></div>
          <div class="col-sm-9">{{ object.first_name }}</div>
        </div>
      {% endif %}
      {% if object.last_name %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% trans "Nom" %}</span></div>
          <div class="col-sm-9">{{ object.last_name }}</div>
        </div>
      {% endif %}
      {% if object.email and not hide_email %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% trans "Email" %}</span></div>
          <div class="col-sm-9">{{ object.email }}</div>
        </div>
      {% endif %}
      {% if object.support_structure %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "support_structure" %}</span></div>
          <div class="col-sm-9">{{ object.support_structure }}</div>
        </div>
      {% endif %}
    </div>

    <!-- Contact -->
    <div role="tabpanel" id="Contact" class="tab-pane" >
      <h6>Contact gestionnaire</h6>
      <div class="form-group row">
        <div class="col-sm-3"><span class="font-weight-bold">{% trans "Gsm" %}</span></div>
        <div class="col-sm-9">{{ manager_mobile }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3"><span class="font-weight-bold">{% trans "Tel" %}</span></div>
        <div class="col-sm-9">{{ manager_phone }}</div>
      </div>
      
      <h6>Mes informations de Contact</h6> 
      {% if object.mobile %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "mobile" %}</span></div>
          <div class="col-sm-9">{{ object.mobile }}</div>
        </div>
      {% endif %}
      {% if object.phone %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "phone" %}</span></div>
          <div class="col-sm-9">{{ object.phone }}</div>
        </div>
      {% endif %}
      {% if object.street %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "street" %}</span></div>
          <div class="col-sm-9">{{ object.street }}, {{ object.streetnr }}</div>
        </div>
      {% endif %}
      {% if object.zip %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "zip" %}</span></div>
          <div class="col-sm-9">{{ object.zip }}</div>
        </div>
      {% endif %}
    </div>

    <!-- Entreprise -->
    <div role="tabpanel" id="Entreprise" class="tab-pane" >
      {% if object.company %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "company" %}</span></div>
          <div class="col-sm-9">{{ object.company }}</div>
        </div>
      {% endif %}
      {% if object.company_legalform %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "company_legalform" %}</span></div>
          <div class="col-sm-9">{{ object.company_legalform }}</div>
        </div>
      {% endif %}
      {% if object.company_logo %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "company_logo" %}</span></div>
          <div class="col-sm-9">{{ object.company_logo }}</div>
        </div>
      {% endif %}
      {% if object.vatnr %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "vatnr" %}</span></div>
          <div class="col-sm-9">{{ object.vatnr }}</div>
        </div>
      {% endif %}
      {% if object.iban %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "iban" %}</span></div>
          <div class="col-sm-9">{{ object.iban }}</div>
        </div>
      {% endif %}
      {% if object.bic %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "bic" %}</span></div>
          <div class="col-sm-9">{{ object.bic }}</div>
        </div>
      {% endif %}
      {% if object.website %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "website" %}</span></div>
          <div class="col-sm-9">{{ object.website }}</div>
        </div>
      {% endif %}
      {% if object.invoice_comm %}
        <div class="form-group row">
          <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "invoice_comm" %}</span></div>
          <div class="col-sm-9">{{ object.invoice_comm }}</div>
        </div>
      {% endif %}      
    </div>

    <!-- Gestion -->
    <div role="tabpanel" id="Gestion" class="tab-pane" >
      <div class="form-group row">
        <div class="col-sm-3"><span class="font-weight-bold">Données personnelles</span></div>
        <div class="col-sm-9">Encryptées</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <p>Vos données personnelles (nom, adresse, nr de compte, etc.) sont <b>encryptées</b> dès vos premiers encodages.</p>
          <p>Personne n'a donc accès à vos données personnelles à l'exception du super-administrateur de l'application soumis à l'obligation de confidentialité.</p>
        </div>
      </div>  
      <hr>
      
      <div class="form-group row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "support_structure_access" %}</span></div>
        <div class="col-sm-9">{{ object.support_structure_access }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <ol>
            <li>Aucun accès : le gestionnaire n’a pas accès à vos données</li>
            <li>Lecture uniquement : le gestionnaire  peut uniquement visualiser vos données</li>
            <li>Accès global : le gestionnaire  peut visualiser vos données et les modifier</li>
          </ol>
          <p>Par défaut, le gestionnaire à un accès global sur vos données (option 3).</p>
          <p>Mais vous pouvez à tout moment modifier les accès de votre gestionnaire.</p>
        </div>
      </div>

      <hr>
      <div class="form-group row">
        <div class="col-sm-3"><span class="font-weight-bold">{% get_verbose_field_name object "data_access" %}</span></div>
        <div class="col-sm-9">{% if object.data_access %}OUI{% else %}NON{% endif %}</div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">        
          {% include '_data_access_info.html' %}
        </div>
      </div>
      <br>

    </div>

  </div>
</div>

{% define 'password_change' as pathPASS %}

{% if "del" in request.path %}
  <h4>{{ view.confirm_message }}</h4>
  <form action="" method="POST">{% csrf_token %}
  <div class="buttonHolder">
      <input type="submit" class="btn btn-danger2" value="Oui" />
      <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
  </div>
  </form>
{% else %}
  {% if upd_allowed %}
  {% define 'profile_update' as pathUPD %}
  <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
  {% endif %}

  {% if user.username == object.username %}
    {% define 'profile_delete' as pathDEL %}
    <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
    <input type="button" class="btn btn-neutral2" value="Changer de mot de passe" onclick="javascript:location.href = '{% url pathPASS %}';">
    {% define 'money_index' as pathINDEX %}
    <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathINDEX %}';">
  {% else %}
    {% define 'profile_list' as pathLIST %}
    <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
  {% endif %}
{% endif %}  

{% endblock content %}
