{% extends 'base_accounts.html' %}
{% load i18n static csstags bootstrap4 %}

{% block content_title %}
<form id="list_search" method="get">
<div class="row" style="padding: 1rem 0rem;">
  <h3 class="col-12 col-sm-3 col-md-2">{{ view.title }}</h3>

  <div class="col-12 col-sm-3 col-md-2">
    <input type="button" class="btn btn-main2" value="Rafraîchir" onclick="javascript:location.href = '{{ request.path_info }}';" />
    <input type="button" class="btn btn-main2" value="Exporter" id="id_exportbtn" />
  </div>
  
  <div class="col-12 col-sm-3 col-md-2">{{view.form.is_active}}</div>
  <div class="col-12 col-sm-3 col-md-2">{{view.form.txtsearch}}</div>
  {{view.form.exportxls}}
</div>
</form>
{% endblock %}



{% block content %}
<div class="toppagebox pb-2">
<p class="mr-2">{% trans "Code couleur jours inactivité:" %}</p>
<span class="duedatebox mr-1" style="background: #fafa6d">> 3 mois</span>
<span class="duedatebox mr-1" style="background: #ffcc99">> 6 mois</span>
<span class="duedatebox mr-1" style="background: #f88181">> 10 mois</span>
</div>
  {% if object_list %}
  {% csrf_token %}

  <table id="object_list" class="table table-bordered willmaster-sort">
      <thead class="thead-light">
          <tr>
            <th><a href="javascript:SortTable(0,'T');">{% trans "Identifiant" %}</a></th>
            <th><a href="javascript:SortTable(1,'D','dmy');">{% get_verbose_field_name object_list "date_joined" %}</a></th>
            <th><a href="javascript:SortTable(2,'D','dmy');">{% get_verbose_field_name object_list "last_login" %}</a></th>
            <th><a href="javascript:SortTable(3,'N');">{% trans "Inactif depuis" %}</a></th>
            <th style="width: 15px;"><a href="javascript:SortTable(4,'T');">{% trans "Email validé par l'utilisateur" %}</a></th>
            <th style="width: 15px;"><a href="javascript:SortTable(5,'T');">{% trans "Compte validé par gestionnaire" %}</a></th>
            <th style="width: 15px;">{% trans "Données" %}</th>
            <th><a href="javascript:SortTable(7,'T');">{% trans "Nom" %}</a></th>
            <th><a href="javascript:SortTable(8,'T');">{% trans "Email" %}</a></th>
            <th><a href="javascript:SortTable(9,'T');">{% trans "Tel" %}</a></th>
            <th><a href="javascript:SortTable(10,'T');">{% get_verbose_field_name object_list "company" %}</a></th>
            <th><a href="javascript:SortTable(11,'T');">{% get_verbose_field_name object_list "zip" %}</a></th>
          </tr>
      </thead>

  	<tbody>
    
    {% for profile in object_list %}
      <tr style="{% if not profile.is_active %}background: #f1f1f1;
        {% else %}
          {% if profile.jlastlog > 300 %}background: #f88181;
          {% elif profile.jlastlog > 90 and profile.jlastlog < 180 %}background: #fafa6d;
          {% elif profile.jlastlog > 179 and profile.jlastlog < 299 %}background: #ffcc99;
          {% endif %}
        {% endif %}">
          <td><a href="{% url 'profile_activate' profile.id %}">{{ profile.username }}</a></td>
          <td>{{ profile.date_joined|date:"d/m/Y" }}</td>
          <td>{{ profile.last_login|date:"d/m/Y" }}</td>
          <td>{{ profile.jlastlog }} {{ jours }}</td>
          <td>{% if profile.email_confirmed %}OUI{% else %}NON{% endif %}</td>
          <td>
              {% if profile.is_active %}
                {% trans "Activé" %}
              {% else %}
                {% trans "Désactivé" %}
              {% endif %}
          </td>

          {% if profile.support_structure_access.id == "RO" %}
            <td><a href="{% url 'set_structuser' profile.id %}" class="btn btn-main2">{% trans "Lecture seule" %}</a></td>
          {% endif %}
          {% if profile.support_structure_access.id == "FULL" %}
            <td><a href="{% url 'set_structuser' profile.id %}" class="btn btn-main2">{% trans "Visualiser" %}</a></td>
          {% endif %}
          {% if profile.support_structure_access.id == "NADA" %}
            <td>{% trans "Pas d'accès autorisé" %}</td>
          {% endif %}

          <td>{{ profile.get_full_name }}</td>
          <td><a href="mailto:{{ profile.email }}?Subject=tresoferme" target="_top">{{ profile.email }}</a></td>
          <td>{{ profile.mobile|default_if_none:profile.phone|default_if_none:"" }}</td>
          <td>{{ profile.company|default_if_none:"" }}</td>
          <td>{{ profile.zip|default_if_none:"" }}</td>
          
      </tr>
    {% endfor %}
  	</tbody>
    </table>

    

  {% else %}
      <p>{% trans 'Aucun profil trouvé.' %}</p>
  {% endif %}
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/willmaster_table_sort.js' %}"></script>
  <script>
    function submitForm() {
      $("#list_search").submit();
    }

    $(document).ready(function () {
      // remove sidebar when list user
      $('#sidebar').toggleClass('active');
      $("#id_txtsearch").change(submitForm);
      $("#id_is_active").on('change', submitForm);

      $('#id_exportbtn').on('click', function() {
        $("#id_exportxls").val("XLSGO");
        $("#list_search").submit();
        $("#id_exportxls").val("NADA");
      });
    });
  </script>
{% endblock js %}


