{% extends 'base_accounts.html' %}
{% load i18n csstags crispy_forms_tags static %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
  <h3>{% get_verbose_model_class_name object %} &raquo; {{ user.username }}  &raquo; {% trans "Modifier" %}</h3>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }} 
  <script src="{% static 'load_ddl_zip.js' %}"></script>
{% endblock js %}