{% extends 'base_accounts.html' %}
{% load i18n csstags %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
  <h3>{% get_verbose_model_class_name object %} &raquo; {{ object.username }}  &raquo; {{ view.action }}</h3>
{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="profile_activate">
    {% csrf_token %}
    <input type="hidden" name="is_active" value={{ form.is_active.value }}>
    <button type="submit" class="btn btn-danger2">{{ view.action }}</button>    
    {% define 'profile_list' as pathLIST %}
    <input type="button" class="btn btn-main2" value="Annuler" onclick="javascript:location.href = '{% url pathLIST %}';">
</form>
{% endblock content %}