{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content %}

<h2>Atelier</h2>

{% if ateliers %}
<!-- <div class="col-md-4"> -->
<table class="table">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for atelier in ateliers %}
        <tr>
            <td>{{ atelier.name }}</td>
            <td>
                <input type="checkbox" name="atelier" value="{{ atelier.id }}" {% if atelier.id == atelier.aid %} checked {% endif %}
                {% if not upd_allowed%} disabled{% endif %}/>
            </td>
        </tr>
    {% endfor %}
    {% if upd_allowed %}
    <tr><td colspan="2"><input class="btn btn-danger2" type="submit" value="{% trans "Enregistrer" %}" /></td></tr>
    {% endif %}
    
    </form>
</table>
<!-- </div> -->
{% else %}
    <p>Pas d'atelier.</p>
{% endif %}

{% endblock content %}