{% extends 'base_money.html' %}
{% load i18n %}

{% block content %}

<h2>Sous ateliers</h2>

{% if ateliersubs %}
<table class="table">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for ateliersub in ateliersubs %}
        <tr>
            <td>{{ ateliersub.atelier }}</td>
            <td>{{ ateliersub.name }}</td>
            <td>
                <input type="checkbox" name="ateliersub" value="{{ ateliersub.id }}" {% if ateliersub.id == ateliersub.ateliersub_id %} checked {% endif %}>
            </td>
        </tr>
    {% endfor %}
    <tr><td colspan="3"><input class="btn btn-danger2" type="submit" value="{% trans "Enregistrer" %}" /></td></tr>
    
    </form>
</table>

{% else %}
    <p>Pas d'animaux.</p>
{% endif %}

{% endblock content %}