{% extends 'base.html' %}
{% load i18n csstags %}

{% block content %}

<h2>Atelier</h2>

{% if ateliers %}
<table class="table">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for atelier in ateliers %}
        <tr>
            <td>{{ atelier.name }}</td>
            <td>
                <input type="checkbox" name="atelier" value="{{ atelier.id }}" {% if atelier.id == atelier.aid %} checked {% endif %}>
            </td>
            <!-- <td>
                <label for="bbb" class="[ btn btn-success ]">
                    <span class="fa fa-check"></span>
                    <span>&nbsp;</span>
                </label>
            </td>                 -->
        </tr>
    {% endfor %}
    <tr><td><input class="btn btn-danger2" type="submit" value="{% trans "Save changes" %}" /></td></tr>
    
    </form>
</table>

{% else %}
    <p>Pas d'atelier.</p>
{% endif %}

{% endblock content %}