{% load i18n csstags %}
<h5>{% trans "Emprunts" %}</h5>
{% if not dfsum.empty %}
<table id="loan_index" class="table table-bordered">
	<tdead>
		<tr>
			<td></td>
			<td>{% trans "Paiement" %}</td>
			<td>{% trans "Capital" %}</td>
			<td>{% trans "Intérêt" %}</td>		
		</tr>
	</tdead>		
	<tbody>		
		<tr>
			<td>Payé</td>
			<td>{{ dfsum|lookup:"payment"|floatformat:"0" }}</td>
			<td>{{ dfsum|lookup:"capital"|floatformat:"0" }}</td>
			<td>{{ dfsum|lookup:"interest"|floatformat:"0" }}</td>
		</tr>
		<tr>
			<td>À payer</td>
			<td>{{ dfsum|lookup:"payment2"|floatformat:"0" }}</td>
			<td>{{ dfsum|lookup:"capital2"|floatformat:"0" }}</td>
			<td>{{ dfsum|lookup:"interest2"|floatformat:"0" }}</td>
		</tr>
		<tr>
			<th>Total</th>
			<th>{{ dfsum|lookup:"totpay"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"totcap"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"totint"|floatformat:"0" }}</th>
		</tr>
		<tr>
			<td>{% trans "Total emprunté" %}</td>
			<td>{{ loanamount_tot|floatformat:"0" }}</td>
		</tr>						
	</tbody>
</table>
{% endif %}
