{% load i18n %}
<h5>{% trans "Tableau de bord" %}</h5>
<table id="summary_board" class="table table-bordered">
	<tbody>
		<tr>
			<td class="text-md-right">{% trans "Liquidité réelle" %}</td>
			<td class="text-white {%if soldepay_tot >= 0 %}bg-main2{% else %}bg-danger2{% endif %}">{{ soldepay_tot }}</td>
		</tr>
		<tr>
			<td class="text-md-right"><a href="{% url 'expense_list' %}?payduedate={{ ajd }}&expcatgrp=EMP&payflag=ToPay">{% trans "Crédits bancaires échus en retard de paiement" %}</a></td>
			<td class="text-white {%if unpaid_loan >= 0 %}bg-main2{% else %}bg-danger2{% endif %}">{{ unpaid_loan }}</td>
		</tr>
		<tr>
			<td class="text-md-right"><a href="{% url 'credit_list' %}">{% trans "Intérêts de retard sur les crédits de caisse" %}</a></td>
			<td class="text-white {%if unpaid_loancaisse >= 0 %}bg-main2{% else %}bg-danger2{% endif %}">{{ unpaid_loancaisse }}</td>
		</tr>		
		<tr>
			<td class="text-md-right"><a href="{% url 'expense_list' %}?payduedate={{ ajd }}&payflag=ToPay&supplieronly=yes">{% trans "Fournisseurs en retard de paiement" %}</a></td>
			<td class="text-white {%if unpaid_supplier >= 0 %}bg-main2{% else %}bg-danger2{% endif %}">{{ unpaid_supplier }}</td>
		</tr>
		<tr>
			<td class="text-md-right"><a href="{% url 'revenue_list' %}?payduedate={{ ajd }}&payflag=ToPay">{% trans "Clients en retard de paiement" %}</a></td>
			<td class="text-white {%if unpaid_client >= 0 %}bg-main2{% else %}bg-danger2{% endif %}">{{ unpaid_client }}</td>
		</tr>
		<tr><td></td><td></td></tr>
		<tr>
			<td class="text-md-right">{% trans "Liquidité potentielle" %}</td>
			<td class="text-white {%if solde_final >= 0 %}bg-main2{% else %}bg-danger2{% endif %}"><strong>{{ solde_final }}</strong></td>
		</tr>
	</tbody>
</table>

