{% load csstags %}

<table class="my-table" style="font-size: 65%; text-align: right;">
    <thead class="thead-light">
        <tr style="background-color: #E5ECF6; font-weight: bold;">
            <td>Mois</td>
            {% for i in MONTH %}
            <td>{{ forloop.counter }}</td>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% if REV %}
            <tr class="bg-main2">
            <td>{{ REV_title }}</td>
            {% for i in REV %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr> 
        {% endif %}
        {% if REVEMP %}
            <tr class="bg-light-green">
            <td>{{ REVEMP_title }}</td>
            {% for i in REVEMP %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr> 
        {% endif %}
        {% if REVCRE %}
            <tr class="bg-light-green10">
            <td>{{ REVCRE_title }}</td>
            {% for i in REVCRE %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr> 
        {% endif %}            
        {% if EXP %} 
            <tr class="bg-danger2">
            <td>{{ EXP_title }}</td>
            {% for i in EXP %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endif %}
        {% if INV %}
            <tr class="bg-light-red15">
            <td>{{ INV_title }}</td>
            {% for i in INV %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endif %}
        {% if EMP %}  
            <tr class="bg-light-red30">
            <td>{{ EMP_title }}</td>
            {% for i in EMP %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endif %}          
    </tbody>
</table>