{% load i18n %}
<!-- Sidebar  -->
<!-- https://bootstrapious.com/p/bootstrap-sidebar -->
<script>
</script>
<nav id="sidebar">

    <ul class="list-unstyled components">       
        <p>{% trans "Référence" %}</p>
        <li>
            <ul class="list-unstyled" id="menu_ref">
                <li>
                    <a class="menu-link" href="{% url 'my_atelier' %}">{% trans "Atelier" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'client_list' %}">{% trans "Client" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'supplier_list' %}">{% trans "Fournisseur" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'product_list' %}">{% trans "Produit" %}</a>
                </li>
            </ul>
        </li>

        <li>
            <p>{% trans "Gestion courante" %}</p>
            <ul class="list-unstyled" id="menu_current">
                <li>
                    <a class="menu-link" href="{% url 'revenue_list' %}?year={% now 'Y'%}">{% trans "Entrée" %}</a>
                </li>            
                <li>
                    <a class="menu-link" href="{% url 'expense_list' %}?year={% now 'Y'%}">{% trans "Sortie" %}</a>
                </li>      
            </ul>
        </li>

        <li>
            <p>{% trans "Gestion annexe" %}</p>
            <ul class="list-unstyled" id="menu_annex">
                <li>
                    <a class="menu-link" href="{% url 'bdc_list' %}?year={% now 'Y'%}">{% trans "Devis/BdC" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'credit_list' %}">{% trans "Crédit" %}</a>
                </li>                                      
                <li>
                    <a class="menu-link" href="{% url 'loan_list' %}">{% trans "Emprunt" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'invest_list' %}">{% trans "Investissement" %}</a>
                </li>                         
            </ul>
        </li>

        <li>
            <p>{% trans "Analyse rentabilité" %}</p>
            <ul class="list-unstyled" id="menu_ana">
                <li>
                    <a href="{% url 'renta_month' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Annuelle/Mensuelle" %}</a>
                </li>           
                
                <li>
                    <a href="#renta_revenue" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">{% trans "Produit" %}</a>
                    <ul class="list-unstyled collapse" id="renta_revenue">
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_clientproduct' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Client/Produit" %}</a>
                        </li>
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_rev_groupjs' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Groupe/Catégorie" %}</a>
                        </li>
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_rev_atelier' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Atelier" %}</a>
                        </li>                                                    
                    </ul>
                </li>
                <li>
                    <a href="#renta_expense" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">{% trans "Charge" %}</a>
                    <ul class="list-unstyled collapse" id="renta_expense">
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_supplier' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Fournisseur" %}</a>
                        </li>                 
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_exp_groupjs' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Groupe/Catégorie" %}</a>
                        </li>
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_exp_fixvariable' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Fixe/Variable" %}</a>
                        </li> 
                        <li>
                            <a class="menu-link ml-2" href="{% url 'renta_exp_atelier' %}?year1={{ request.session.year1 }}&year2={{ request.session.year2 }}">{% trans "Atelier" %}</a>
                        </li>                                                          
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <p>{% trans "Analyse trésorerie" %}</p>
            <ul class="list-unstyled" id="menu_treso">
                <li>
                    <a class="menu-link" href="{% url 'treso_month' %}">{% trans "Annuelle/Mensuelle" %}</a>
                </li>
                <li>
                    <a class="menu-link" href="{% url 'treso_prev_graph' %}">{% trans "Prévision vs Réalisé" %}</a>
                </li>        
            </ul>
        </li>

    </ul>

</nav>
