{% extends 'base_money.html' %}
{% load static csstags %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}

<!-- Justify content between 1, 2 et 3 -->
<div class="d-flex justify-content-between" style="padding: 1rem 0rem;">
  <!-- item 1 -->
  <div class="toppagebox">
    <h3 class="mr-2">{{ view.title }}</h3>
    {% if upd_allowed %}
      {% if create_path %}
      <input type="button" class="btn btn-main2" value="Nouveau" onclick="javascript:location.href = '{% url create_path %}';" />
    {% endif %}
    {% endif %}
    {% include '_django_pagecounter.html' %}
    <input type="button" class="btn btn-main2 mr-1 ml-1" value="Rafraîchir" onclick="javascript:location.href = '{% url list_path %}?year={{ request.session.year2 }}';" />
    {% if "loan" not in request.path %}
    <input type="button" class="btn btn-main2" value="Exporter" id="id_exportbtn" />
    {% endif %}
  </div>
  <!-- item 2 --> 
  {% if "client" in request.path or "supplier" in request.path or "expcat" in request.path or "revcat" in request.path %}
  <form id="form_search" method="get">{{ view.form.txtsearch }}
  </form>
  {% endif %}
  <!-- item 3 -->
  <div>{% include '_django_pager.html' %}</div>

  
</div>

{% endblock %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
  <script src="{% static 'list_search.js' %}"></script>
{% endblock js %}
