{% extends 'base_money.html' %}
{% load i18n csstags static bootstrap4 %}

{% block extrastyle %}
    {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
    {{ form.media }}
{% endblock extrastyle %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
    <h3>{{ title }}</h3>
{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="{{ form_html_id }}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <button type="submit" class="btn btn-danger2">Enregistrer</button>
        <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{{ success_url }}?year={% now 'Y' %}';">
    {% endbuttons %}
</form>
{% endblock content %}

<!-- !!!Remove block.super from here otherwise jQuery loaded twice with block extrastyle!!! -->
{% block js %}
    <script src="{% static 'js/tresoferme.js' %}"></script>
    <script type="text/javascript">
        // var varinvest = "{{ ctxinvest }}";
        // Add * for required fields
    	var req = $(".form-control:required");
    	for (var i = 0; i < req.length; i++) {
    		  var reqid = req[i].id;
    		  $("label[for="+reqid+"]").addClass('requiredfield');
    		}
    </script>
    {% if form_js %}    
        <!-- reloadjs sert juste à recharger l'entièreté de la page côté client si chgt js -->
        <script src="{% static form_js %}?reloadjs=20201020"></script>
    {% endif %}
    {% if "client" in request.path or "supplier" in request.path %} 
        <script src="{% static 'load_ddl_zip.js' %}"></script>
    {% endif %}
{% endblock js %}

