{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content %}
  <div>
    <select name="categories" id="id_cat" style="margin: 50px" class="form-control" title="" required="">
    </select>
    <div id="id_graph" style="svg-container;"></div>
  </div>
  
  <div id="id_dataset"></div>
{% endblock content %}


{% block js %}
  {{ block.super }}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script> 
    var dataset1 = {{dataset1 | safe}};
    var group1 = {{group | safe}};
  </script>
  <script src="{% static 'graph_dynplot.js' %}"></script>
{% endblock js %}
