{% extends 'base_money.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% include '_index_summary.html' %}
    </div>   
</div>
<div class="row">
    <div class="col-md-6">
        {% include '_index_loan.html' %}
    </div>
</div>

{% endblock content %}
