{% extends 'base_info.html' %}
{% load csstags static %}

{% block content %}
<div class="row">
<div class="col-md-2"><h1>FAQ</h1></div>
<div class="col-md-4"></div>
<div class="col-md-6 toppagebox">
    {% define 'faq_index' as pathINDEX %}
    <input type="button" class="btn btn-main2 m-2" value="Rafraîchir" onclick="javascript:location.href = '{% url pathINDEX %}';" />
    <input type="text" name="txtsearch" class="form-control mt-2" placeholder="Rechercher" id="myInput" onkeyup="myFunction()">
</div>
</div>

{% autoescape off %}
    <div class="accordion-bral">
        {% for i in faq_list %}
            <div id="mydiv_{{ i.faqnr }}">
                {% if i.faqnr == 1 %}
                    <input id="{{ i }}" class="ac-input" type="checkbox" checked/>
                {% else %}
                    <input id="{{ i }}" class="ac-input" type="checkbox"/>
                {% endif %}
                <label id="question_{{ i.faqnr }}" class="ac-label" for="{{ i }}">{{ i.faqnr }}. {{ i.question }}<i></i></label>
                <div id="answer_{{ i.faqnr }}" class="article ac-content">
                    {{ i.answer }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}

{% endblock content %}

{% block js %}
{{ block.super }}
<script>
    function myFunction() {
    // Declare variables
    var input, filter, items, label, content, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    items = $(".ac-label");
    
    // Loop through all label items, and hide those who don't match the search query
    for (i = 1; i <= items.length; i++) {
            label = $("#question_"+i).text();
            content = $("#answer_"+i).text();
            txtValue = label + content
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                $("#mydiv_"+i).show();
                $("#faq_"+i).prop('checked', true);
            } else {
                $("#mydiv_"+i).hide();
                $("#faq_"+i).prop('checked', false);
            }
        }
    }
    </script>
{% endblock js %}
