{% load csstags %}

<table>
  <thead>
    <tr style="background-color: #E9ECEF;">
       <th width="25%" class="text-left" >&nbsp;Désignation</th>
       {% if lotpresent %}
       <th class="text-center">Nrlot</th>
       <th class="text-center">DLC</th>
       {% endif %}
       <th width="10%" class="text-right">Prix unitaire €</th>
       <th class="text-right">Quantité</th>
       <th class="text-right">TVA %</th>
       <th class="text-right">HTVA €</th>
       <th class="text-right">TVAC €&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      {% for p in prod %}
      <tr>
          <td class="text-left">{{ p.product }}</td>
          {% if lotpresent %}
            <td class="text-center">{{ p.lot|default_if_none:"" }}</td>
            <td class="text-center">{{ p.dlc|date:"d/m/Y"|default_if_none:"" }}</td>
          {% endif %}
          <td class="text-right">{{ p.amount|floatformat:"2"|default_if_none:"" }}</td>
          <td class="text-right">{{ p.quantity|default_if_none:"" }}</td>
          <td class="text-right">{{ p.vat|default_if_none:"" }}</td>
          <td class="text-right">{{ p.amounttot|floatformat:"2"|default_if_none:"" }}</td>
          <td class="text-right">{{ p.amounttotvat|floatformat:"2"|default_if_none:"" }}</td>
      </tr>
      {% endfor %}
      
      <tr style="font-weight: bold; border-top: 2px solid #BEBEBE; background-color: #E9ECEF;">
      <td>&nbsp;Sous Total TVA</td>
          {% if lotpresent %}
          <td class="text-center"></td>
          <td class="text-center"></td>
        {% endif %}
        <td></td>
        <td></td>
        <td class="text-right">montant TVA</td>
        <td class="text-right">HTVA €</td>
        <td class="text-right">TVAC €&nbsp;</td>
      </tr>
      {% for pv in prodvat %}
      <tr>
        <td class="text-left">TVA {{ pv.vat__name }} %</td>
        {% if lotpresent %}
          <td class="text-center"></td>
          <td class="text-center"></td>
        {% endif %}
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">{% substract pv.amounttotvat pv.amounttot %}</td>
        <td class="text-right">{{ pv.amounttot|floatformat:"2"|default_if_none:"" }}</td>
        <td class="text-right">{{ pv.amounttotvat|floatformat:"2"|default_if_none:"" }}</td>      
      </tr>
      {% endfor %}             
  </tbody>
  <tfoot>
    <tr style="background-color: #E9ECEF;">
       <th class="text-left">&nbsp;Total</th>
       {% if lotpresent %}
       <th class="text-left"></th>
       <th class="text-left"></th>
       {% endif %}
       <th class="text-right"></th>
       <th class="text-right"></th>
       <th class="text-right">{{ vat_amount|floatformat:"2"|default_if_none:"" }}</th>
       <th class="text-right">{{ revenue.amount|floatformat:"2"|default_if_none:"" }}</th>
       <th class="text-right">{{ revenue.amountvat|floatformat:"2"|default_if_none:"" }}&nbsp;</th>
    </tr>
  </tfoot>
  
</table>

