<br/>
<table class="bottom-20 table-border">
    <tr>
        <td class="td-pad">Montant à verser</td>
        <td class="td-pad"><strong> {{ revenue.amountvat|floatformat:"2"|default_if_none:"" }} €</strong></td>
    </tr>
    <tr>
        <td class="td-pad">Nr compte</td>
        <td class="td-pad"><strong> {{ myuser.iban|default_if_none:"" }}</strong></td>
    </tr>
    <tr>
        <td class="td-pad">Au plus tard le</td>
        <td class="td-pad"><strong> {{ revenue.payduedate }}</strong></td>
    </tr>
    <tr>
        <td class="td-pad">Communication</td>
        <td class="td-pad"><strong> {{ revenue.invnr }}</strong></td>
    </tr>
</table>

<p>Produit par <a href="https://tresoferme.be">TresoFerme.be</a></p>