{% comment %}
inspiré de
https://github.com/nigma/django-easy-pdf/blob/master/tests/templates/hello.html
{% endcomment %}
{% block layout_style %}
    <style type="text/css">
        @page {
            size: {{ pagesize|default:"A4" }};
            margin-left: 2cm;
            margin-right: 1.5cm;
            margin-top: 6.5cm;
            margin-bottom: 2cm;

            @frame header {
                -pdf-frame-content: page-header;
                margin-left: 2cm;
                margin-right: 1.5cm;
                margin-top: 2cm;
                margin-bottom: 1cm;
            }

            @frame footer {
                -pdf-frame-content: page-footer;
                bottom: 1.5cm;
                margin-left: 2cm;
                margin-right: 1.5cm;
                height: 1.5cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">

        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            margin: 0 0 1px 0;
            font-size: 9pt;
        }
        a { color: #4F81BD; text-decoration: none; }
        table {
            line-height: 140%;
            margin-bottom: 20px;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }

            tr, td, th { border: none; }

            th {
                font-size: 9pt;
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                font-weight: bold;
            }

            td {
                font-size: 8pt;
                vertical-align: top;
                padding: 3px 0;
            }

            td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .text-center { text-align: center; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }

        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { text-decoration: none; color: #4F81BD;}
        /* .logo { margin-top: 20px; margin-left: -25px; }
         .logo img { zoom: 50%; } */
        .recipient { padding-top: 1.5cm;}
        
        .table-border {
            border: 1px solid #4F81BD;
        }
        .td-pad {
            padding-top: 5px; padding-left: 5px;
        }
        .main h1 {
            margin: 12px 0 0px 0;
            font-size: 220%;
            font-weight: normal;
            color: #4F81BD;
        }
        .main h2 {
            margin: 12px 0 12px 0;
            font-size: 160%;
            font-weight: normal;
        }
        /* .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; } */
        
        #footer-pdf {font-weight: italic; text-align: justify;}
    </style>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="recipient bottom-10">
            <p class="bottom-10">
                <strong>ACME Inc.</strong>
                <br> John Doe
            </p>
            <p class="bottom-10">
                Street Name <br>
                Postal Code <br/>
                City
            </p>
            <p>{{ today|date:"DATETIME_FORMAT" }} UTC</p>
        </div>


        <p class="info">
            This is an example of <a href="https://github.com/nigma/django-easy-pdf">django-easy-pdf</a>
            &ndash; Django PDF rendering the easy way.
            Check <a href="http://en.ig.ma/">en.ig.ma</a> for Django and Python development.
        </p>

        <div class="main">
            <h1>Sample Invoice</h1>

            <table class="bordered bottom-20">
                <tr>
                    <td class="item-name"><strong>Invoice number</strong></td>
                    <td><strong>{{ today|date:"y/m/d/1" }}</strong></td>
                </tr>
                <tr>
                    <td class="item-name">Amount</td>
                    <td><strong>100 Doge</strong></td>
                </tr>
            </table>

            <table>
                <thead>
                    <tr>
                        <th class="text-left">Description</th>
                        <th class="text-right">Amount</th>
                        <th class="text-right">Tax</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Some stuff</td>
                        <td class="text-right">100 Doge</td>
                        <td class="text-right">0</td>
                        <td class="text-right">100 Doge</td>
                    </tr>
                </tbody>
            </table>

            <table class="bottom-20">
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>100 Doge</strong></td>
                </tr>
            </table>

            <h2>Payment details</h2>

            <p class="bottom-20">
                Please cover the invoice within 10 days.
            </p>
        </div>
    </div>
{% endblock %}

<div id="footer-pdf">
{% block page_foot %}
    <p>Page footer</p>
{% endblock %}
</div>
