{% extends "easy_pdf/base_invoice.html" %}

{% block page_header %}
<div id="page-header">
    <div class="header">
        <table>
            <tr>
                <td>
                    <!-- Farm address -->
                    <p class="bottom-10">
                        <strong>{{ myuser.company }}</strong><br/>
                        {{ myuser.get_street_display }}<br/>
                        {{ myuser.zip.get_zip_display }}<br/>
                        {{ myuser.get_phone_display }}<br/>
                        {{ myuser.get_email_display }}<br/>
                        {{ myuser.get_vat_display }}
                    </p>
                    <p class="header-link">
                        <a class="header-link" href="{{ myuser.website }}">{{ myuser.website|default_if_none:"" }}</a>
                    </p>
                </td>
                <td>
                    <!-- Client address -->
                    <p class="recipient bottom-10">
                        Client:
                        <strong>{{ revenue.client.company }}</strong><br/>
                        {{ revenue.client.get_street_display }}<br>
                        {{ revenue.client.zip.get_zip_display }}<br/>
                        {{ revenue.client.get_vat_display }}
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="content">
        <!-- ici s'insérait l'adresse du client avant -->
        <div class="main">
            
            <table>
                <tr>
                    <td width="80%"><h1>{{revenue.revcat.name|upper }} {{revenue.invnr }}</h1></td>
                    <td class="text-right">Émission: {{ revenue.inputdate }} <br/>
                        Échéance: {{ revenue.payduedate }}</td>
                </tr>
            </table>
            
            <h2>{{ revenue.refdesc|default_if_none:"" }}</h2>

            {% include 'easy_pdf/_prod_list.html' %}
            
            <br/>

            <table>
                <tr>
                    {% if revenue.payflag %}
                        <td width="40%">Acquis et payé</td>
                    {% else %}
                        <td width="40%">{% include 'easy_pdf/_virement.html' %}</td>
                    {% endif %}
                    <td width="5%"></td>
                    <td class="text-right">{% if path_supplier != None %}<img src={{ path_supplier }}>{% endif %}</td>
                </tr>
            </table>
            
        </div>
    </div>
    
{% endblock %}

{% block page_foot %}
    {{ invoice_comm }}
{% endblock %}