<!-- Inclusion tag defined in accounts/csstags -->
{% load l10n %}
{% if url_list == "revenue_list" %}
    {% if solde > 0 %}
    <a href="{% url url_list %}?client={{ pk|unlocalize }}&payduedate={{ ajd }}&payflag=ToPay">{{ display_txt }}</a>
    {% else %}
    <a href="{% url url_list %}?client={{ pk|unlocalize }}&payflag=ToPay">{{ display_txt }}</a>
    {% endif %}
{% else %}
    {% if solde > 0 %}
    <a href="{% url url_list %}?supplier={{ pk|unlocalize }}&payduedate={{ ajd }}&payflag=ToPay">{{ display_txt }}</a>
    {% else %}
    <a href="{% url url_list %}?supplier={{ pk|unlocalize }}&payflag=ToPay">{{ display_txt }}</a>
    {% endif %}
{% endif %}