{% load i18n csstags %}
<div class="display-detail">
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "expnr" %}</div>
    <div class="col-md-2 encart">{{ object.expnr }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "inputdate" %}</div>
    <div class="col-md-6 encart">{{ object.inputdate|date:"d/m/Y" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "refdesc" %}</div>
    <div class="col-md-10 encart">{{ object.refdesc|default_if_none:"" }}</div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "atelier" %}</div>
    <div class="col-md-2 encart">{{ object.atelier }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "supplier" %}</div>
    <div class="col-md-6 encart">{{ object.supplier|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% trans "Groupe" %}</div>
    <div class="col-md-2 encart">{{ object.expcat.group }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "expcat" %}</div>
    <div class="col-md-6 encart">{{ object.expcat }}</div>
  </div>

  {% if object.expcat.field2show == 'quantity,unit' %}
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "quantity" %}</div>
    <div class="col-md-2 encart">{{ object.quantity|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "unit" %}</div>
    <div class="col-md-2 encart">{{ object.unit|default_if_none:"" }}</div>
  </div>
  {% endif %}

  <div class="form-group row">
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "payduedate" %}</div>
  	<div class="col-md-2 encart">{{ object.payduedate|date:"d/m/Y" }}</div>
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "payamount" %}</div>
    <div class="col-md-2 encart">{{ object.payamount|floatformat:"2"|default_if_none:"" }}</div>
    {%if object.get_solde != 0 %}
    <div class="col-md-2 etiquette {%if object.get_solde <= 0 %}text-success{% else %}text-danger{% endif %}">{{ object.get_solde_label }}</div>
  	<div class="col-md-2 encart text-white {%if object.get_solde <= 0 %}bg-success{% else %}bg-danger2{% endif %}">{{ object.get_solde|floatformat:"2" }}</div>
    {% endif %}
  </div>

  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amount" %}</div>
    <div class="col-md-2 encart">{{ object.amount|floatformat:"2" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amountvat" %}</div>
    <div class="col-md-2 encart">{{ object.amountvat|floatformat:"2"|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vatvalue" %}</div>
    <div class="col-md-2 encart">{{ object.vatvalue|floatformat:"2"|default_if_none:"" }}</div>    
  </div>

  {% if object.expcat.field2show == 'quantity' %}
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "quantity" %}</div>
    <div class="col-md-10 encart">{{ object.quantity|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "unit" %}</div>
    <div class="col-md-10 encart">{{ object.unit|default_if_none:"" }}</div>
  </div>
  {% endif %}

</div>
