<div>
  <u>Types d'emprunts.</u>
  <ul>
    <li><strong>Capital fixe:</strong> le montant du capital à rembourser ne change pas par période d'échéance (mois) sur toute la durée de l'emprunt.</li>
    <li><strong>Payement fixe:</strong> le payement à rembourser par période reste identique.</li>
  </ul>
</div>
