{% load i18n csstags %}
<div class="display-detail">
  <div class="form-group row">
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "invnr" %}</div>
  	<div class="col-md-2 encart">{{ object.invnr }}</div>
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "inputdate" %}</div>
  	<div class="col-md-2 encart">{{ object.inputdate|date:"d/m/Y"|default_if_none:"" }}</div>
  </div>

  <div class="form-group row">
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "refdesc" %}</div>
  	<div class="col-md-10 encart">{{ object.refdesc|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "atelier" %}</div>
    <div class="col-md-2 encart">{{ object.atelier }}</div>
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "client" %}</div>
  	<div class="col-md-6 encart">{{ object.client|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "revcatgrp" %}</div>
    <div class="col-md-2 encart">{{ object.revcatgrp }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "revcat" %}</div>
    <div class="col-md-6 encart">{{ object.revcat|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "payduedate" %}</div>
  	<div class="col-md-2 encart">{{ object.payduedate|date:"d/m/Y"|default_if_none:"" }}</div>
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "payamount" %}</div>
  	<div class="col-md-2 encart">{{ object.payamount|floatformat:"2"|default_if_none:"" }}</div>

    {%if object.get_solde != 0 %}
    <div class="col-md-2 etiquette {%if object.get_solde >= 0 %}text-success{% else %}text-danger{% endif %}">{{ object.get_solde_label }}</div>
  	<div class="col-md-2 encart text-white {%if object.get_solde >= 0 %}bg-success{% else %}bg-danger2{% endif %}">{{ object.get_solde|floatformat:"2" }}</div>
    {% endif %}

  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amount" %}</div>
  	<div class="col-md-2 encart">{{ object.amount|floatformat:"2"|default_if_none:"" }}</div>
  	<div class="col-md-2 etiquette">{% get_verbose_field_name object "amountvat" %}</div>
    <div class="col-md-2 encart">{{ object.amountvat|floatformat:"2"|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vatvalue" %}</div>
    <div class="col-md-2 encart">{{ object.vatvalue|floatformat:"2"|default_if_none:"" }}</div>      
  </div>
</div>
