{% extends 'base_money_list.html' %}
{% load static i18n csstags %}

{% block content %}

	
<table id="client_list" class="table table-bordered table-hover willmaster-sort">
	<thead class="thead-light">
		<tr>
			<form id="list_search" method="get">
				<th></th>
				<th>{{view.form.payflag}}</th>
				<th>{{view.form.payduedate}}</th>
				<th>{{view.form.exportxls}}</th>
				<th></th>
				<th></th>
			</form>
		</tr>
	{% if client_list %}
		<tr>
			<th><a href="javascript:SortTable(0,'T');">{% get_verbose_field_name client_list "company" %}</a></th>
			<th><a href="javascript:SortTable(1,'N');">{% trans 'Montant à recevoir' %}</a></th>
			<th>{% get_verbose_field_name client_list "vatnr" %}</th>
			<th>{% get_verbose_field_name client_list "email" %}</th>
			<th>{% get_verbose_field_name client_list "street" %}</th>
			<th>{% get_verbose_field_name client_list "zip" %}</th>
		</tr>
	</thead>

	<tbody>
		{% for i in client_list %}
		<tr>
			<td><a href="{{ i.get_absolute_url }}">{{ i.company }}</a></td>
			<td>{% show_client_supplier_href i %}</td>
		  	<td>{{ i.vatnr|default_if_none:"" }}</td>
			<td>{{ i.email|default_if_none:"" }}</td>
			<td>{{ i.street|default_if_none:"" }}</td>
			<td>{{ i.zip|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	{% include '_django_pager.html' %}
	{% else %}
		</thead>
	{% endif %}
</table>	

{% endblock content %}

<!-- Load js -->
{% block js %}
	{{ block.super }}
	<script src="{% static 'js/willmaster_table_sort.js' %}"></script>
{% endblock js %}
