{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="display-detail">
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "contact_name" %}</div>
    <div class="col-md-10 encart">{{ object.contact_name|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "email" %}</div>
    <div class="col-md-10 encart">{{ object.email|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "clienttype" %}</div>
    <div class="col-md-10 encart">{{ object.clienttype|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vatnr" %}</div>
    <div class="col-md-10 encart">{{ object.vatnr|default_if_none:"" }}</div>
  </div>  
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "mobile" %}</div>
    <div class="col-md-10 encart">{{ object.mobile|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "phone" %}</div>
    <div class="col-md-10 encart">{{ object.phone|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "street" %}</div>
    <div class="col-md-10 encart">{{ object.street|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "zip" %}</div>
    <div class="col-md-10 encart">{{ object.zip|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "remarks" %}</div>
    <div class="col-md-10 encart">{{ object.remarks|default_if_none:"" }}</div>
  </div>
</div>

{% if "del" in request.path %}
  <div>
    <br />
    <h4>Supprimer cet enregistrement?</h4>
    <form action="" method="post">{% csrf_token %}
    <div class="buttonHolder">
        <input type="submit" class="btn btn-warning2" value="Oui" />
        <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
    </div>
    </form>
  </div>
{% else %}
  {% if upd_allowed %}
    {% define 'client_update' as pathUPD %}
    {% define 'client_delete' as pathDEL %}
    <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
    <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
  {% endif %}

  {% define 'client_list' as pathLIST %}
  <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
{% endif %}


{% endblock content %}
