{% extends 'base_money_list.html' %}
{% load i18n csstags %}
{% block content %}

{% if credit_list %}
{% define 'loan_refund' as pathAMORT %}
<table id="credit_list" class="table table-bordered table-hover">
<thead class="thead-light">
	<tr>
		<th>{% get_verbose_field_name credit_list "refshort" %}</th>
		<th>{% get_verbose_field_name credit_list "bankrefid" %}</th>
		<th>{% get_verbose_field_name credit_list "bankrefdesc" %}</th>
		<th>{% get_verbose_field_name credit_list "loantype" %}</th>
		<th>{% get_verbose_field_name credit_list "loanamount" %}</th>
		<th>{% get_verbose_field_name credit_list "loanrefund" %}</th>
		<th>{% get_verbose_field_name credit_list "startdate" %}</th>
		<th>{% get_verbose_field_name credit_list "closedate" %}</th>
	</tr>
</thead>

<tbody>
{% for i in credit_list %}
<tr>
	<td><a href="{{ i.get_absolute_url }}">{{ i.refshort }}</a></td>
	<td>{{ i.bankrefid }}</td>
	<td>{{ i.bankrefdesc }}</td>
	<td>{{ i.loantype }}</td>
	<td>{{ i.loanamount }}</td>
	<td>{{ i.loanrefund|floatformat:"2"|default_if_none:"" }}</td>
	<td>{{ i.startdate|date:"d/m/Y" }}</td>
	<td>{{ i.closedate|date:"d/m/Y"|default_if_none:"" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% include '_django_pager.html' %}

{% else %}
	<p>Aucun crédit en cours.</p>

{% endif %}

{% endblock content %}
