{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="form-group row">
      <div class="col-md-3 etiquette">{% get_verbose_field_name object "withdrawdate" %}</div>
      <div class="col-md-9 encart">{{ object.withdrawdate }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "withdrawamount" %}</div>
    <div class="col-md-9 encart">{{ object.withdrawamount }}</div>
  </div>
  {% if object.credit.loantype.id == 'CRE_CAI' %}
    <div class="form-group row">
      <div class="col-md-3 etiquette">{% get_verbose_field_name object "refunddate" %}</div>
      <div class="col-md-9 encart">{{ object.refunddate|default_if_none:"" }}</div>
    </div>
    <div class="form-group row">
      <div class="col-md-3 etiquette">{% trans "Intérêt de retard" %}</div>
      <div class="col-md-9 encart">{{ object.compute_interest }}</div>
    </div>
  {% endif %}
  

  {% if "del" in request.path %}
    <div>
      <br />
      <h4>{{ view.confirm_message }}</h4>
      <form action="" method="post">{% csrf_token %}
      <div class="buttonHolder">
          <input type="submit" class="btn btn-warning2" value="Oui" />
          {% define 'credit_detail' as pathEDIT %}
          <input type="button" class="btn btn-main2" value="Non/Annuler" onclick="javascript:location.href = '{% url pathEDIT object.credit.id %}';">
      </div>
      </form>
    </div>
  {% endif %}

</div>

{% endblock content %}
