{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="col-md-12">

  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "loantype" %}</div>
    <div class="col-md-3 encart">{{ object.loantype }}</div>
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "startdate" %}</div>
    <div class="col-md-3 encart">{{ object.startdate|date:"d/m/Y"|default_if_none:"" }}</div>
  </div>  
  {% if object.loantype.id == "CRE_STR" %}
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "loanrefund" %}</div>
    <div class="col-md-3 encart">{{ object.loanrefund|default_if_none:"" }}</div>
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "closedate" %}</div>
    <div class="col-md-3 encart">{{ object.closedate|date:"d/m/Y"|default_if_none:"" }}</div>
  </div>
  {% endif %}  
  <div class="form-group row">
      <div class="col-md-3 etiquette">{% get_verbose_field_name object "refshort" %}</div>
      <div class="col-md-3 encart">{{ object.refshort }}</div>
      <div class="col-md-3 etiquette">{% get_verbose_field_name object "bankrefid" %}</div>
      <div class="col-md-3 encart">{{ object.bankrefid }}</div>      
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "loanamount" %}</div>
    <div class="col-md-3 encart">{{ object.loanamount }}</div>
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "interestrate" %}</div>
    <div class="col-md-3 encart">{{ object.interestrate|default_if_none:"" }}</div>
  </div>


  {% if "del" in request.path %}
    <div>
      <br />
      <h4>{{ view.confirm_message }}</h4>
      <form action="" method="post">{% csrf_token %}
      <div class="buttonHolder">
          <input type="submit" class="btn btn-warning2" value="Oui" />
          {% define 'credit_detail' as pathEDIT %}
          <input type="button" class="btn btn-main2" value="Non/Annuler" onclick="javascript:location.href = '{% url pathEDIT object.id %}';">
      </div>
      </form>
    </div>
  {% else %}
    {% if object.closeflag %}
    {% define 'credit_list' as pathLIST %}
      <div class="d-flex">
      <h5 class="text-danger">{% trans 'Cet emprunt a été clôturé le ' %}{{ object.closedate }}</h5>
      <input type="button" class="btn btn-main2 ml-2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
      </div>
    {% else %}
      {% if upd_allowed %}
        {% define 'credit_update' as pathUPD %}
        <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
        {% define 'credit_delete' as pathDEL %}
        <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
      {% endif %}
      {% define 'credit_list' as pathLIST %}
      <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
    {% endif %}
  {% endif %}

</div>
<hr>

<div class="toppagebox">
  <h4 class="mr-2">{% trans "Prélèvement" %}</h4>
  {% if upd_allowed %}
  {% define 'creditrefund_create' as pathCREATE %}
  <input type="button" class="btn btn-main2" value="Ajouter" onclick="javascript:location.href = '{% url pathCREATE object.id %}';">
  {% endif %}
</div>
<br>

{% if withdraw %}
<table id="withdraw_list" class="table">
  <thead class="thead-light">
      <tr>
        <th>{% get_verbose_field_name withdraw "withdrawdate" %}</th>
        <th>{% get_verbose_field_name withdraw "withdrawamount" %}</th>
        {% if object.loantype.id == "CRE_CAI" %}
          <th>{% get_verbose_field_name withdraw "refunddate" %}</th>
          <th>{% trans "Intérêt de retard" %}</th>
        {% endif %}
        {% if upd_allowed %}
          <th>{% trans "Supprimer" %}</th>
        {% endif %}
      </tr>
  </thead>
  <tbody>
  {% for y in withdraw %}
      <tr>
        <td>{{ y.withdrawdate|date:"d/m/Y" }}</td>
        <td>{{ y.withdrawamount|floatformat:"2"|default_if_none:"" }}</td>
        {% if object.loantype.id == "CRE_CAI" %}
          {% if y.refunddate %}
            <td>{{ y.refunddate|date:"d/m/Y" }}</td>
          {% else %}
            {% if upd_allowed %}
              <td><a href="{% url 'creditrefund_update' y.id %}">Encoder une date</a></td>
            {% endif %}
          {% endif %}
          <td>{{ y.compute_interest }}</td>
        {% endif %}
        
        {% if upd_allowed %}
          <td><a href="{% url 'creditrefund_delete' y.id %}"><i class="far fa-trash-alt"></i></a></td>
        {% endif %}        
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock content %}
