
{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}
  <h3>{{ object.get_title }}</h3>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-2">
    <br />
    {% if "del" in request.path %}
        <h4>{{ view.confirm_message }}</h4>
        <form action="" method="POST">{% csrf_token %}
        <div class="buttonHolder">
            <input type="submit" class="btn btn-warning2" value="Oui" />
            <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
        </div>
        </form>
    {% else %}
        <div class="btn-group-vertical">
          {% if not expense.locked %}
            {% if upd_allowed %}
              {% define 'expense_update' as pathUPD %}
              <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
              {% define 'expense_delete' as pathDEL %}
              <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
              {% define 'expense_copy' as pathCOPY %}
              <input type="button" class="btn btn-info2lighter" value="Dupliquer" onclick="javascript:location.href = '{% url pathCOPY object.id %}';">
            {% endif %}
            {% define 'expense_list' as pathLIST %}
            <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}?year={% now 'Y' %}';">

          {% endif %}
        </div>
    {% endif %}
  </div>

  <div class="col-md-10">
    {% include './_expense_detail.html' %}
  </div>

</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item"><a class="nav-link" href="#pay" role="tab" data-toggle="tab">Payements</a></li>
</ul>

<div class="form-horizontal">
  <div class="tab-content">
    <!-- Payements BEGIN-->
    <div role="tabpanel" id="pay" class="tab-pane active">
      {% define 'expensepayment_update' as pathPAY %}
      <input type="button" class="btn btn-main2" value="Gérer les payements" onclick="javascript:location.href = '{% url pathPAY object.id %}';" />
      {% if pay %}
      <table id="payment_list" class="table">
        <thead class="thead-light">
            <tr>
              <th>{% get_verbose_field_name pay "amount" %}</th>
              <th>{% get_verbose_field_name pay "paydate" %}</th>
              <th>{% trans "Échéancier (jours)" %}
                <span class="duedatebox mr-1 bg-light-yellow">< 1 mois</span>
                <span class="duedatebox mr-1 bg-light-orange">< 3 mois</span>
                <span class="duedatebox mr-1 bg-light-red">> 3 mois</span>
              </th>
            </tr>
        </thead>
        <tbody>
        {% for y in pay %}
            <tr>
              <td>{{ y.amount }}</td>
              <td>{{ y.paydate|date:"d/m/Y" }}</td>
              <td>
                <div
                  class="duedatebox" 
                  style="width: {{ y.get_days10 }}px; padding: .1rem; {% if y.get_days10 > 900 %}background: #f88181;
                        {% elif y.get_days10 > 0 and y.get_days10 < 300 %}background: #fafa6d;
                        {% elif y.get_days10 > 300 and y.get_days10 < 900 %}background: #ffcc99;
                        {% elif y.get_days10 == 0 %}background: #b3f5b3;
                        {% endif %}
                        "
                        >
                    {{ y.get_days }}
                </div>
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <!-- Payements END -->
  </div>
</div>

{% endblock content %}
