{% extends 'base_money_list.html' %}
{% load static i18n csstags %}

{% block content %}
<div class="d-inline">
	Code couleur jours en retard de paiement:
	<span class="duedatebox mr-1 bg-light-yellow">< 1 mois</span>
	<span class="duedatebox mr-1 bg-light-orange">< 3 mois</span>
	<span class="duedatebox mr-1 bg-light-red">> 3 mois</span>
</div>
<br>
<br>
<table id="expense_list" class="table table-bordered table-hover willmaster-sort">
	<thead class="thead-light">
		<tr>
			<form id="list_search" method="get">
					<th style="width: 6rem">{{view.form.expnr}}</th>
					<th>{{view.form.year}}</th>
					<th></th>
					<th></th>
					<th>{{view.form.supplier}}</th>
					<th>{{view.form.expcatgrp}}</th>
					<th>{{view.form.expcat}}</th>
					<th>{{view.form.atelier}}</th>
					<th></th>
					<th>{{view.form.payflag}}</th>
					{{view.form.exportxls}}
			</form>
		</tr>
	{% if expense_list %}
		<tr>
			<th><a href="{{ request.get_full_path }}&sortBy=expnr">Nr</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=inputdate">Date</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=jretard">{% trans "Jours retard" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=solde">{% trans "À payer" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=supplier">{% trans "Fournisseur" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=expcat__group__name">{% trans "Groupe" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=expcat">{% trans "Catégorie" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=atelier">{% trans "Atelier" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=amountvat">{% trans "Montant(€) TVAC" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=payamount">{% trans "Déjà payé" %}</a></th>
		</tr>
	</thead>
	
	<tbody>
		{% for i in expense_list %}
		<tr {% if i.payflag %}background-color="white"
				{% else %}
					{% if i.jretard > 90 %}class="bg-light-red"
					{% elif i.jretard > 0 and i.jretard < 30 %}class="bg-light-yellow"
					{% elif i.jretard >= 30 and i.jretard <= 90 %}class="bg-light-orange"
					{% elif i.jretard == 0 and i.payamount != 0 %}class="bg-light-green"
					{% endif %}
				{% endif %}>
			<td><a href="{{ i.get_absolute_url }}">{{ i.expnr }}</a></td>
			<td>{{ i.inputdate|date:"d/m/Y" }}</td>
			<td>{{ i.jretard }}</td>
			<td>{{ i.solde|floatformat:"2" }}</td>
			<td>{{ i.supplier|default_if_none:"" }}</td>
			<td>{{ i.expcat.group.name|default_if_none:"" }}</td>
			<td>{{ i.expcat|default_if_none:"" }}</td>
			<td>{{ i.atelier }}</td>
			<td>{{ i.amountvat|floatformat:"2"|default_if_none:"" }}</td>
			<td>{{ i.payamount|floatformat:"2"|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>{% trans "Total" %}</th>
			<th></th>
			<th></th>
			<th>{{ view.solde|floatformat:"2" }}</th>
			<th></th>
		<th></th>
		<th></th>
			<th>{% trans "Total" %}</th>
		<th>{{ view.amountvattot|floatformat:"2" }}</th>
	<th>{{ view.payamounttot|floatformat:"2" }}</th>
		</tr>
	</tfoot>
	
{% endif %}
</table>

{% endblock content %}

<!-- Load js -->
{% block js %}
	{{ block.super }}
	<script src="{% static 'js/willmaster_table_sort.js' %}"></script>
{% endblock js %}
