{% extends 'base_money_list.html' %}
{% load i18n csstags %}


{% block content %}

	{% if fixexpense_list %}
	<table id="fixexpense_list" class="table table-bordered table-hover">
	<thead class="thead-light">
	  <tr>
			<th>{% get_verbose_field_name fixexpense_list "refshort" %}</th>
			<th>{% get_verbose_field_name fixexpense_list "refdesc" %}</th>
	    <th>{% get_verbose_field_name fixexpense_list "expcat" %}</th>
	    <th>{% get_verbose_field_name fixexpense_list "begindate" %}</th>
	    <th>{% get_verbose_field_name fixexpense_list "enddate" %}</th>
			<th>{% get_verbose_field_name fixexpense_list "yearfreq" %}</th>
			<th>{% get_verbose_field_name fixexpense_list "amountvat" %}</th>
			<th>{% get_verbose_field_name fixexpense_list "validated" %}</th>
	  </tr>
	</thead>

	<tbody>
		{% for i in fixexpense_list %}
		<tr>
			<td>{{ i.refshort }}</td>
		  <td><a href="{{ i.get_absolute_url }}">{{ i.refdesc }}</a></td>
		  <td>{{ i.expcat|default_if_none:"" }}</td>
		  <td>{{ i.begindate|date:"d/m/Y" }}</td>
		  <td>{{ i.enddate|date:"d/m/Y" }}</td>
			<td>{{ i.yearfreq }}</td>
			<td>{{ i.amountvat|floatformat:"2"|default_if_none:"" }}</td>
			<td>{% if i.validated %} Oui {% else %} Non {% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% include '_django_pager.html' %}

	{% endif %}

{% endblock content %}
