{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="display-detail">
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "refshort" %}</div>
    <div class="col-md-2 encart">{{ object.refshort|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "refdesc" %}</div>
    <div class="col-md-6 encart">{{ object.refdesc|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "atelier" %}</div>
    <div class="col-md-2 encart">{{ object.atelier|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "supplier" %}</div>
    <div class="col-md-6 encart">{{ object.supplier|default_if_none:"" }}</div>
  </div>  
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "expcatgrp" %}</div>
    <div class="col-md-2 encart">{{ object.expcatgrp }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "expcat" %}</div>
    <div class="col-md-6 encart">{{ object.expcat }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amountvat" %}</div>
    <div class="col-md-2 encart">{{ object.amountvat|floatformat:"2"|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vat" %}</div>
    <div class="col-md-2 encart">{{ object.vat }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amount" %}</div>
    <div class="col-md-2 encart">{{ object.amount|floatformat:"2"|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "begindate" %}</div>
    <div class="col-md-2 encart">{{ object.begindate|date:"d/m/Y" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "enddate" %}</div>
    <div class="col-md-2 encart">{{ object.enddate|date:"d/m/Y" }}</div>
    <div class="col-md-2 etiquette">{% trans 'Durée (année)' %}</div>
    <div class="col-md-2 encart bg-danger2 text-white">{{ object.diff_date_year }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-10 etiquette">{% get_verbose_field_name object "yearfreq" %}</div>
    <div class="col-md-2 encart bg-secondary text-white">{{ object.yearfreq|default_if_none:"" }}</div>
  </div>
  </div>

{% if "del" in request.path or "valid" in request.path %}
  <div>
    <br />
    <h4>{{ view.confirm_message }}</h4>
    <form action="" method="post">{% csrf_token %}
    <div class="buttonHolder">
        <input type="submit" class="btn btn-warning2" value="Oui" />
        <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
    </div>
    </form>
    {% if "valid" in request.path %}
      <br/>
      <h5 class="text-danger">{% trans 'Seule la date fin sera encore modifiable!' %}</h5>
    {% endif %}
  </div>
{% else %}
  {% if upd_allowed %}
    {% define 'fixexpense_update' as pathUPD %}
    <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
    {% define 'fixexpense_delete' as pathDEL %}
    <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
  {% endif %}
    {% define 'fixexpense_list' as pathLIST %}
    <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">

    {% if not object.validated or object.enddate_old != None %}
      {% define 'fixexpense_valid' as pathVALID %}
      <input type="button" class="btn btn-neutral2" value="Valider" onclick="javascript:location.href = '{% url pathVALID object.id %}';">
    {% endif %}    
{% endif %}


{% endblock content %}
