{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "invnr" %}</div>
    <div class="col-md-2 encart">{{ object.invnr }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "invdesc" %}</div>
    <div class="col-md-6 encart">{{ object.invdesc }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "atelier" %}</div>
    <div class="col-md-2 encart">{{ object.atelier }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "supplier" %}</div>
    <div class="col-md-6 encart">{{ object.supplier|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "inputdate" %}</div>
    <div class="col-md-2 encart">{{ object.inputdate }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amortyear" %}</div>
    <div class="col-md-2 encart">{{ object.amortyear }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "expcat" %}</div>
    <div class="col-md-2 encart">{{ object.expcat }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amount" %}</div>
    <div class="col-md-2 encart">{{ object.amount }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "amountvat" %}</div>
    <div class="col-md-2 encart">{{ object.amountvat|floatformat:"2"|default_if_none:"" }}</div>
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vatvalue" %}</div>
    <div class="col-md-2 encart">{{ object.vatvalue|floatformat:"2"|default_if_none:"" }}</div>    
  </div>  
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "payamount" %}</div>
    <div class="col-md-2 encart">{{ object.payamount|floatformat:"2"|default_if_none:"" }}</div>
    {%if object.get_solde != 0 %}
    <div class="col-md-2 etiquette {%if object.get_solde <= 0 %}text-success{% else %}text-danger{% endif %}">{{ object.get_solde_label }}</div>
  	<div class="col-md-2 encart text-white {%if object.get_solde <= 0 %}bg-success{% else %}bg-danger2{% endif %}">{{ object.get_solde|floatformat:"2" }}</div>
    {% endif %}
  </div>

  {% if "del" in request.path %}
    <div>
      <br />
      <h4>{{ view.confirm_message }}</h4>
      <form action="" method="post">{% csrf_token %}
        {% if "close" in request.path %}
          <div class="form-group row">
            <label class="col-md-3 col-form-label requiredfield" for="id_closeindemnity">{% trans 'Montant indemnité de clôture' %}</label>
            <input type="number" name="closeindemnity" value="0" class="form-control col-md-9" required="" id="id_closeindemnity">
          </div>
        {% endif %}
      <div class="buttonHolder">
          <input type="submit" class="btn btn-warning2" value="Oui" />
          {% define 'invest_detail' as pathEDIT %}
          <input type="button" class="btn btn-main2" value="Non/Annuler" onclick="javascript:location.href = '{% url pathEDIT object.id %}';">
      </div>
      </form>
    </div>
  {% else %}
    {% if upd_allowed %}
      {% define 'invest_update' as pathUPD %}
      <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
      {% define 'invest_delete' as pathDEL %}
      <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
    {% endif %}
      {% define 'invest_list' as pathLIST %}
      <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
  {% endif %}
<hr>

<div class="toppagebox">
  <h4 class="mr-2">{% trans "Source de financement" %}</h4>
  {% define 'investexpense_create' as pathCREATE %}
  <input type="button" class="btn btn-main2" value="Ajouter" onclick="javascript:location.href = '{% url pathCREATE %}?expcatgrp=INV&invest={{ object.id }}';">
</div>
<br>
{% if expense %}
  <table id="investexpense_list" class="table">
    <thead class="thead-light">
        <tr>
          <th>Nr</th>
          <th>Date</th>
          <th>{% trans "Fournisseur" %}</th>
          <th>{% trans "Groupe" %}</th>
          <th>{% trans "Catégorie" %}</th>
          <th>{% trans "Atelier" %}</th>
          <th>{% trans "Montant(€) TVAC" %}</th>
          <th>{% trans "Déjà payé" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for i in expense %}
          <tr {% if i.payflag %}background-color="white"
              {% else %}
                {% if i.get_days > 90 %}class="bg-light-red"
                {% elif i.get_days > 0 and i.get_days < 30 %}class="bg-light-yellow"
                {% elif i.get_days >= 30 and i.get_days <= 90 %}class="bg-light-orange"
                {% elif i.get_days == 0 and i.payamount != 0 %}class="bg-light-green"
                {% endif %}
              {% endif %}>
            <td><a href="{{ i.get_absolute_url }}">{{ i.expnr }}</a></td>
            <td>{{ i.inputdate|date:"d/m/Y" }}</td>
            <td>{{ i.supplier|default_if_none:"" }}</td>
            <td>{{ i.expcat.group.name|default_if_none:"" }}</td>
            <td>{{ i.expcat|default_if_none:"" }}</td>
            <td>{{ i.atelier }}</td>
            <td>{{ i.amountvat|floatformat:"2"|default_if_none:"" }}</td>
            <td>{{ i.payamount|floatformat:"2"|default_if_none:"" }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}

</div>

{% endblock content %}
