{% extends 'base_money_list.html' %}
{% load i18n csstags %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item active"><a class="nav-link" href="#master" role="tab" data-toggle="tab">Liste</a></li>
	<li class="nav-item"><a class="nav-link" href="#summary" role="tab" data-toggle="tab">Montant</a></li>
</ul>

{% if loan_list %}
<div class="form-horizontal">
	<div class="tab-content">
		<div role="tabpanel" id="master" class="tab-pane active" >
			{% include 'money/loan_master.html' %}
		</div>

		<div role="tabpanel" id="summary" class="tab-pane" >
				{% include 'money/loan_summary.html' %}
		</div>
	</div>
</div>

{% else %}
	<p>{% trans 'Aucun emprunt.' %}</p>
{% endif %}

{% endblock content %}
