{% load i18n csstags %}

{% define 'loan_refund' as pathAMORT %}

<table id="loan_summary" class="table table-bordered table-hover">
	<thead class="thead-light">
		<tr>
			<th colspan="3"></th>
			<th colspan="3">Payé</th>
			<th colspan="3">À payer</th>
		</tr>
		<tr>
			<th>{% trans "Identifiant bancaire" %}</th>
			<th>{% trans "Tableau amortissement" %}</th>
			<th>{% trans "Montant sollicité(€)" %}</th>
			<th>{% trans "Paiement" %}</th>
			<th>{% trans "Capital" %}</th>
			<th>{% trans "Intérêt" %}</th>
			<th>{% trans "Paiement" %}</th>
			<th>{% trans "Capital" %}</th>
			<th>{% trans "Intérêt" %}</th>		
		</tr>
	</thead>

	<tbody>
		{% for i in df.itertuples %}
		<tr>
			<td><a href="{{ i.loan.get_absolute_url }}">{{ i.loan.bankrefid }}</a></td>
			<td>
				{% if i.loan.loantype.id != 'EMP_CAI' %}
					<button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathAMORT i.loan.id %}';">
						<span class="fas fa-table"></span>
					</button>
				{% endif %}
				{% if i.loan.closedate != None %}
					Clôturé
				{% endif %}
				&nbsp;
				{{ i.loan.bankrefdesc }}
			</td>
			<td>{{ i.loan.loanamount }}</td>
			<td>{{ i.payment|floatformat:"0" }}</td>
			<td>{{ i.capital|floatformat:"0" }}</td>
			<td>{{ i.interest|floatformat:"0" }}</td>
			<td>{{ i.payment2|floatformat:"0" }}</td>
			<td>{{ i.capital2|floatformat:"0" }}</td>
			<td>{{ i.interest2|floatformat:"0" }}</td>		
		</tr>
		{% endfor %}
	</tbody>

	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th>{{ loanamount_tot }}</th>
			<th>{{ dfsum|lookup:"payment"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"capital"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"interest"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"payment2"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"capital2"|floatformat:"0" }}</th>
			<th>{{ dfsum|lookup:"interest2"|floatformat:"0" }}</th>
		</tr>
	</tfoot>
</table>

{% include '_django_pager.html' %}

