{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="form-group row">
        <div class="col-md-3 etiquette">{% get_verbose_field_name object "loantype" %}</div>
        <div class="col-md-9 encart">{{ object.loantype }}</div>
      </div>  
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "bankrefid" %}</div>
    <div class="col-md-9 encart">{{ object.bankrefid }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "bankrefdesc" %}</div>
    <div class="col-md-9 encart">{{ object.bankrefdesc }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "refshort" %}</div>
    <div class="col-md-9 encart">{{ object.refshort }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "loanamount" %}</div>
    <div class="col-md-9 encart">{{ object.loanamount }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "startdate" %}</div>
    <div class="col-md-9 encart">{{ object.startdate|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "loanyears" %}</div>
    <div class="col-md-9 encart">{{ object.loanyears }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "yearfreq" %}</div>
    <div class="col-md-9 encart">{{ object.yearfreq }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 etiquette">{% get_verbose_field_name object "interestrate" %}</div>
    <div class="col-md-9 encart">{{ object.interestrate|default_if_none:"" }}</div>
  </div>

  {% if "del" in request.path or "valid" in request.path or "close" in request.path %}
    <div>
      <br />
      <h4>{{ view.confirm_message }}</h4>
      <form action="" method="post">{% csrf_token %}
        {% if "close" in request.path %}
          <div class="form-group row">
            <label class="col-md-3 col-form-label requiredfield" for="id_closeindemnity">{% trans 'Montant indemnité de clôture' %}</label>
            <input type="number" name="closeindemnity" value="0" class="form-control col-md-9" required="" id="id_closeindemnity">
          </div>
        {% endif %}
      <div class="buttonHolder">
          <input type="submit" class="btn btn-warning2" value="Oui" />
          {% define 'loan_detail' as pathEDIT %}
          <input type="button" class="btn btn-main2" value="Non/Annuler" onclick="javascript:location.href = '{% url pathEDIT object.id %}';">
      </div>
      </form>
    </div>
  {% else %}
    {% if object.closeflag %}
    {% define 'loan_list' as pathLIST %}
      <div class="d-flex">
      <h5 class="text-danger">{% trans 'Cet emprunt a été clôturé le ' %}{{ object.closedate }}</h5>
      <input type="button" class="btn btn-main2 ml-2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
      </div>
    {% else %}
      {% if upd_allowed %}
        {% define 'loan_update' as pathUPD %}
        <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
        {% define 'loan_delete' as pathDEL %}
        <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
      {% endif %}
      {% define 'loan_list' as pathLIST %}
      <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
      <!-- Crédit de caisse validé dès enregistrement pour ne pas gérer
      le cas du non affichage du boutton qui génère le tableau d'amortissement Cfr model -->
      {% if not object.validated %}
        {% define 'loan_valid' as pathVALID %}
        <input type="button" class="btn btn-neutral2" value="Amortissement" title="Générer tableau d'amortissement"
        onclick="javascript:location.href = '{% url pathVALID object.id %}';">
        <br><br>
        <p>Cliquer sur le bouton Amortissement pour générer le tableau d'amortissement sur base des paramètres encodés.</p>
        <p class="text-danger">Aucune donnée chiffrée ne sera répercutée dans l'application (entrée & sortie) tant que le tableau d'amortissement n'est pas généré.</p>
        <hr>
        {% include 'money/_loan_detail_explain.html' %}
      {% else %}
        {% define 'loan_close' as pathCLOSE %}
        <input type="button" class="btn btn-neutral2" value="Clôturer" onclick="javascript:location.href = '{% url pathCLOSE object.id %}';">
      {% endif %}
    {% endif %}

    {% if object.loantype.id != "EMP_CAI" %}
        {% define 'loan_refund' as pathAMORT %}
        <p><br>
        <button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathAMORT object.id %}';">
          <span class="fas fa-table"></span>
        </button>
        {% trans "Tableau d'amortissement" %}</p>
    {% endif %}

  {% endif %}

</div>
{% endblock content %}
