{% load i18n csstags %}

{% define 'loan_refund' as pathAMORT %}

<table id="loan_list" class="table table-bordered table-hover">
<thead class="thead-light">
	<tr>
		<th>{% get_verbose_field_name loan_list "refshort" %}</th>
		<th>{% get_verbose_field_name loan_list "bankrefid" %}</th>
		<th>{% trans "Tableau amortissement" %}</th>
		<th>{% get_verbose_field_name loan_list "bankrefdesc" %}</th>
		<th>{% get_verbose_field_name loan_list "loantype" %}</th>
		<th>{% get_verbose_field_name loan_list "loanamount" %}</th>
		<th>{% get_verbose_field_name loan_list "startdate" %}</th>
		<th>{% get_verbose_field_name loan_list "loanyears" %}</th>
		<th>{% get_verbose_field_name loan_list "yearfreq" %}</th>
		<th>{% get_verbose_field_name loan_list "interestrate" %}</th>
	</tr>
</thead>

<tbody>
{% for i in loan_list %}
<tr>
	<td>{{ i.refshort }}</td>
	<td><a href="{{ i.get_absolute_url }}">{{ i.bankrefid }}</a></td>
	<td>
		<button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathAMORT i.id %}';">
			<span class="fas fa-table"></span>
		</button>
		{% if i.closedate != None %}
			Clôturé le i.closedate
		{% endif %}
	</td>
	<td>{{ i.bankrefdesc }}</td>
	<td>{{ i.loantype }}</td>
	<td>{{ i.loanamount }}</td>
	<td>{{ i.startdate }}</td>
	<td>{{ i.loanyears }}</td>
	<td>{{ i.yearfreq }}</td>
	<td>{{ i.interestrate }}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th>Total en cours:</th>
	<th>{{loanamount_tot}}</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
</tr>
</tfoot>
</table>
{% include '_django_pager.html' %}

