{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content %}

<h3>{{ title }}</h3>

{% if loanrefund %}
<form action="" method="post" enctype="multipart/form-data">
	{% define 'loan_detail' as pathDETAIL %}
	<input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathDETAIL loan.id %}';">
	{% if loan.closedate %}
		<h5 class="text-danger">{% trans 'Cet emprunt a été clôturé le ' %}{{ loan.closedate }}</h5>
	{% else %}
		<input class="btn btn-danger2" type="submit" value="{% trans 'Enregistrer' %}" />
		pour ajouter ou supprimer des payements dans les dépenses selon les cases à cocher 'Déjà débité'.
	{% endif %}

<table id="amort_table" class="table table-bordered table-hover">
	<thead class="thead-light">
	  <tr>
	    <th>{% get_verbose_field_name loanrefund "period" %}</th>
			<th>{% get_verbose_field_name loanrefund "payment" %}</th>
			<th>{% get_verbose_field_name loanrefund "capital" %}</th>
			<th>{% get_verbose_field_name loanrefund "interest" %}</th>
      <th>{% get_verbose_field_name loanrefund "balance" %}</th>
      <th>{% get_verbose_field_name loanrefund "capitalcum" %}</th>
      <th>{% get_verbose_field_name loanrefund "debitflag" %}</th>
      <th>{% get_verbose_field_name loanrefund "debitdate" %}</th>
	  </tr>
	</thead>
  <tbody>
      {% csrf_token %}
      {% for i in loanrefund %}
          <tr>
              <td>{{ i.period }}</td>
              <td>{{ i.payment }}</td>
              <td>{{ i.capital }}</td>
              <td>{{ i.interest }}</td>
              <td>{{ i.balance }}</td>
              <td>{{ i.capitalcum }}</td>
              <td>
                  <input type="checkbox" name="debitflag" value="{{ i.id|safe }}" {% if i.debitflag %} checked {% endif %}/>
              </td>
              <td>{{ i.debitdate|date:"d/m/Y" }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
</form>
<!-- </div> -->
{% else %}
		{% define 'loan_valid' as pathVALID %}
		<p>Le tableau d'amortissement n'a pas encore été généré.</p>
		<p>Cliquer sur
			<input type="button" class="btn btn-neutral2" value="Amortissement" title="Générer tableau d'amortissement"
      onclick="javascript:location.href = '{% url pathVALID loan.id %}';">
			pour le générer.</p>
{% endif %}

{% endblock content %}
