{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="display-detail">
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "name" %}</div>
    <div class="col-md-10 encart">{{ object.name }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "atelier" %}</div>
    <div class="col-md-10 encart">{{ object.atelier }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "processed" %}</div>
    <div class="col-md-10"><input type="checkbox" onclick="return false;" {% if object.processed %} checked {% endif %}/></div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "buysell" %}</div>
    <div class="col-md-10"><input type="checkbox" onclick="return false;" {% if object.buysell %} checked {% endif %}/></div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "unit" %}</div>
    <div class="col-md-10 encart">{{ object.unit|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "sellpricevat" %}</div>
    <div class="col-md-10 encart">{{ object.sellpricevat|floatformat:"4"|default_if_none:"" }}</div>
  </div>

  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "vat" %}</div>
    <div class="col-md-10 encart">{{ object.vat|default_if_none:"" }}</div>
  </div>
  <div class="form-group row">
    <div class="col-md-2 etiquette">{% get_verbose_field_name object "sellprice" %}</div>
    <div class="col-md-10 encart">{{ object.sellprice|floatformat:"4"|default_if_none:"" }}</div>
  </div>
</div>

{% if "del" in request.path %}
  <div>
    <br />
    <h4>Supprimer cet enregistrement?</h4>
    <form action="" method="post">{% csrf_token %}
    <div class="buttonHolder">
        <input type="submit" class="btn btn-warning2" value="Oui" />
        <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
    </div>
    </form>
  </div>
{% else %}
  {% if upd_allowed %}
    {% define 'product_update' as pathUPD %}
    {% define 'product_delete' as pathDEL %}
    <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
    <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
  {% endif %}
    {% define 'product_list' as pathLIST %}
    <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}';">
{% endif %}


{% endblock content %}
