{% extends 'base_money_list.html' %}
{% load static i18n csstags %}


{% block content %}

	{% if product_list %}
		<table id="product_list" class="table table-bordered table-hover willmaster-sort">
		<thead class="thead-light">
			<tr>
				<form id="list_search" method="get">
						<th>{{view.form.txtsearch}}</th>
						<th>{{view.form.atelier}}</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						{{view.form.exportxls}}
				</form>
	    </tr>
		  <tr>
		    <th><a href="javascript:SortTable(0,'T');">{% get_verbose_field_name product_list "name" %}</a></th>
		  	<th><a href="javascript:SortTable(1,'T');">{% get_verbose_field_name product_list "atelier" %}</a></th>
		  	<th>{% get_verbose_field_name product_list "processed" %}</th>
		    <th>{% get_verbose_field_name product_list "unit" %}</th>
		    <th><a href="javascript:SortTable(2,'N');">{% get_verbose_field_name product_list "sellpricevat" %}</a></th>
		    <th>{% get_verbose_field_name product_list "vat" %}</th>
		    <th>{% get_verbose_field_name product_list "sellprice" %}</th>
		  </tr>
		</thead>

	<tbody>
		{% for i in product_list %}
		<tr>
		  <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
		  <td>{{ i.atelier }}</td>
		  <td><input type="checkbox" onclick="return false;" {% if i.processed %} checked {% endif %}></td>
		  <td>{{ i.unit|default_if_none:"" }}</td>
		  <td>{{ i.sellpricevat|floatformat:"4"|default_if_none:"" }}</td>
		  <td>{{ i.vat|default_if_none:"" }}</td>
		  <td>{{ i.sellprice|floatformat:"4"|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
	{% include '_django_pager.html' %}

	{% endif %}

{% endblock content %}

<!-- Load js -->
{% block js %}
	{{ block.super }}
	<script src="{% static 'js/willmaster_table_sort.js' %}"></script>
{% endblock js %}
