{% extends 'base_money.html' %}
{% load i18n l10n csstags static %}

{% block extrastyle %}
	{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
	{{ formset.media }}
{% endblock extrastyle %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
	<h3>{{ object.get_title }}</h3>
{% endblock %}

{# https://www.djangosnippets.org/snippets/1442/ #}
{% block content %}

{% include './_revenue_detail.html' %}

<hr/>

<form autocomplete="off" action="" method="POST" class="form" id="revenue_subform">
    {% csrf_token %}
		{{ formset.management_form }}
		{{ formset.non_form_errors.as_ul }}
		<table id="formset_product" class="form">
		{% for form in formset.forms %}
		  {% if forloop.first %}
		  <thead class="thead-light"><tr>
			{% for field in form.visible_fields %}
				<th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  {% endif %}

		  <tr class="ligne">
		  {% for field in form %}
		    <td>
				{{ field.errors.as_ul }}
				{{ field }}
		    </td>
			{% if forloop.last %} {# ip_id is the last field! #}
				{% if not field.value is None %}
					<td><button id={{ field.value|unlocalize }}
						class="btn btn-danger2 delete-row"
						data-toggle="tooltip"
						title="Supprimer cette ligne?"><i class="fas fa-trash-alt"></i>
					</button></td>
				{% endif %}
			{% endif %}
		  {% endfor %}

		  </tr>
		{% endfor %}
		</table>
		<br/>
    <button type="submit" class="btn btn-danger2">Valider</button>
    {% define 'revenue_detail' as pathDETAIL %}
    <input type="button" class="btn btn-main2" value="Fermer" onclick="javascript:location.href = '{% url pathDETAIL pk %}';">

</form>
{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
	{% if "revenueproduct" in request.path %}
  	<script src="{% static 'revenueproduct_form.js' %}?reloadjs=20210223"></script>
	{% endif %}
	<!-- enableajaxindjango Activated only for the ajax delete  call -->
	<script src="{% static 'js/enableajaxindjango.js' %}"></script>
{% endblock js %}
