
{% extends 'base_money.html' %}
{% load i18n csstags %}

{% block content_title %}<h3>{{ object.get_title }}</h3>{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if view.missing_logo %}
    {% define 'profile_update' as pathUPDprofile %}
    <p>Cliquez sur
    <button type="button" class="btn btn-main2" onclick="javascript:location.href = '{% url pathUPDprofile request.session.myuserpk %}';">
      {% trans "Mon compte" %}
    </button> onglet 'Ferme' pour compléter les champs (IBAN, logo,...) associés à votre ferme pour un rendu optimal de votre facture à l'impression.</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <br />
    {% if "del" in request.path or "lock" in request.path %}
        <h4>{{ view.confirm_message }}</h4>
        <form action="" method="POST">{% csrf_token %}
          <h6>Et éventuellement changer sa référence?</h6>
          <div class="form-group row">
            <div class="col-md-12">
              <input type="text" name="invnr" value="{{ object.invnr }}" maxlength="50" class="form-control" id="id_invnr">
            </div>
          </div>
          <div class="buttonHolder">
            <input type="submit" class="btn btn-warning2" value="Oui" />
            <input class="btn btn-main2 goBack" type="button" value="Non/Annuler" />
          </div>
        </form>
    {% else %}
        <div class="btn-group-vertical">
          <!-- HBP ajouter check sur revenue.locked pour blocker supprimer par example -->
          {% if upd_allowed %}
            {% if "bdc" in request.path %}
              {% define 'bdc_update' as pathUPD %}
            {% else %}
              {% define 'revenue_update' as pathUPD %}
            {% endif %}
            <input type="button" class="btn btn-danger2" value="Modifier" onclick="javascript:location.href = '{% url pathUPD object.id %}';">
            {% define 'revenue_delete' as pathDEL %}
            <input type="button" class="btn btn-warning2" value="Supprimer" onclick="javascript:location.href = '{% url pathDEL object.id %}';">
            {% define 'revenue_copy' as pathCOPY %}
            <input type="button" class="btn btn-info2lighter" value="Dupliquer" onclick="javascript:location.href = '{% url pathCOPY object.id %}';">
            
            {% if prod %}
                {% if revenue.revcat.id == "FRM_BDC" or revenue.revcat.id == "FRM_DEV" %}
                  {% define 'revenue_lock' as pathLOCK %}
                  <input type="button" class="btn btn-neutral2" value="Facturer" onclick="javascript:location.href = '{% url pathLOCK object.id %}';">
                {% endif %}
            {% endif %}

          {% endif %}
          {% define 'invoice_pdf' as pathPDF %}
          <input class="btn btn-info2" type="button" value="Imprimer" onclick="javascript:window.open('{% url pathPDF pk=object.id %}');">
          {% if "bdc" in request.path %}
            {% define 'bdc_list' as pathLIST %}
          {% else %}
            {% define 'revenue_list' as pathLIST %}
          {% endif %}
          <input type="button" class="btn btn-main2" value="Retour" onclick="javascript:location.href = '{% url pathLIST %}?year={{ request.session.rev_year }}';">
        </div>
    {% endif %}
  </div>
  <div class="col-md-10">
    {% include './_revenue_detail.html' %}
  </div>

</div>

<ul class="nav nav-tabs" role="tablist">
  {% if revenue.revcat.id == "FRM_BDC" or revenue.revcat.id == "FRM_FAC" or revenue.revcat.id == "FRM_DEV" %}
    <li class="nav-item active"><a class="nav-link" href="#prod" role="tab" data-toggle="tab">Produits</a></li>
  {% endif %}
  <!-- Paiements affichés que si différent de Bon de commande et Devis -->
  {% if revenue.revcat.id != "FRM_BDC" and revenue.revcat.id != "FRM_DEV" %}
  <li class="nav-item"><a class="nav-link" href="#pay" role="tab" data-toggle="tab">Payements</a></li>
  {% endif %}
</ul>

<div class="form-horizontal">
  <div class="tab-content">
    <!-- Produits affichés que si Bon de commande, Devis & Facture -->
    {% if revenue.revcat.id == "FRM_BDC" or revenue.revcat.id == "FRM_FAC" or revenue.revcat.id == "FRM_DEV" %}
      <div role="tabpanel" id="prod" class="tab-pane active" >
        {% if not revenue.locked %}
          {% if upd_allowed %}
            {% define 'revenueproduct_update' as pathPROD %}
            <input type="button" class="btn btn-main2" value="Gérer les produits" onclick="javascript:location.href = '{% url pathPROD object.id %}';" />
          {% endif %}
        {% endif %}

        {% if prod %}
        <table id="product_list" class="table">
          <thead class="thead-light">
              <tr>
                <th>{% get_verbose_field_name prod "atelier" %}</th>
                <th>{% get_verbose_field_name prod "product" %}</th>
                {% if lotpresent %}
                <th>{% get_verbose_field_name prod "lot" %}</th>
                <th>{% get_verbose_field_name prod "dlc" %}</th>
                {% endif %}
                <th>{% get_verbose_field_name prod "amount" %}</th>
                <th>{% get_verbose_field_name prod "vat" %}</th>
                <th>{% get_verbose_field_name prod "amountvat" %}</th>
                <th>{% get_verbose_field_name prod "quantity" %}</th>
                <th>{% get_verbose_field_name prod "amounttot" %}</th>
                <th>{% get_verbose_field_name prod "amounttotvat" %}</th>
              </tr>
          </thead>

          <tbody>
             {% for p in prod %}
              <tr>
                <td>{{ p.atelier }}</td>
                <td>{{ p.product }}</td>
                {% if lotpresent %}
                <td>{{ p.lot|default_if_none:"" }}</td>
                <td>{{ p.dlc|date:"d/m/Y"|default_if_none:"" }}</td>
                {% endif %}
                <td>{{ p.amount|floatformat:"2"|default_if_none:"" }}</td>
                <td>{{ p.vat|default_if_none:"" }}</td>
                <td>{{ p.amountvat|floatformat:"2"|default_if_none:"" }}</td>
                <td>{{ p.quantity|default_if_none:"" }}</td>
                <td>{{ p.amounttot|floatformat:"2"|default_if_none:"" }}</td>
                <td>{{ p.amounttotvat|floatformat:"2"|default_if_none:"" }}</td>
              </tr>
            {% endfor %}
            <tr style="font-weight: bold; border-top: 2px solid #bebebe; background-color: #E9ECEF;">
              <td>Sous-total TVA</td>
              <td></td>
              {% if lotpresent %}
              <td></td>
              <td></td>
              {% endif %}
              <td></td>
              <td>montant TVA</td>
              <td></td>
              <td></td>
              <td>Total(€) HTVA</td>
              <td>Total(€) TVAC</td>
            </tr>            
            {% for pv in prodvat %}
            <tr>
              <td>TVA {{ pv.vat__name }} %</td>
              <td></td>
              {% if lotpresent %}
              <td></td>
              <td></td>
              {% endif %}
              <td></td>
              <td>{% substract pv.amounttotvat pv.amounttot %}</td>
              <td></td>
              <td></td>
              <td>{{ pv.amounttot|floatformat:"2"|default_if_none:"" }}</td>
              <td>{{ pv.amounttotvat|floatformat:"2"|default_if_none:"" }}</td>
            </tr>
            {% endfor %}                       
          </tbody>

          <tfoot>
            <tr style="font-weight: bold;">
              <th>Total</th>
              <th></th>
              {% if lotpresent %}
              <th></th>
              <th></th>
              {% endif %} 
              <th></th>
              <th>{% substract revenue.amountvat revenue.amount %}</th>
              <th></th>
              <th></th>
              <th>{{ revenue.amount|floatformat:"2"|default_if_none:"" }}</th>
              <th>{{ revenue.amountvat|floatformat:"2"|default_if_none:"" }}</th>
            </tr>
          </tfoot>          
        </table>
      {% endif %}
    </div>
    {% endif %}
    
    {% if revenue.revcat.id == "FRM_FAC" %}
      <div role="tabpanel" id="pay" class="tab-pane">
    {% endif %}
    {% if upd_allowed %}
      {% if revenue.revcat.id != "FRM_BDC" and revenue.revcat.id != "FRM_DEV" %}
        <a href="{% url 'revenuepayment_update' object.id %}" class="btn btn-main2">{% trans "Gérer les payements" %}</a>
      {% elif prod %}
        <a href="{% url 'revenuepayment_update' object.id %}" class="btn btn-main2">{% trans "Gérer les payements" %}</a>
      {% endif %}
    {% endif %}


    {% if pay %}
    <table id="payment_list" class="table">
      <thead class="thead-light">
          <tr>
              <th>{% get_verbose_field_name pay "amount" %}</th>
              <th>{% get_verbose_field_name pay "paydate" %}</th>
              <th>{% trans "Échéancier (jours)" %}
                <span class="duedatebox mr-1" style="background: #fafa6d">1-15 jours</span>
                <span class="duedatebox mr-1" style="background: #ffcc99">15-30 jours</span>
                <span class="duedatebox mr-1" style="background: #f88181">> 30 jours</span>
              </th>
            </tr>
      </thead>
      <tbody>
      {% for y in pay %}
      <tr>
          <td>{{ y.amount }}</td>
          <td>{{ y.paydate|date:"d/m/Y" }}</td>
          <td>
            <div class="duedatebox" style="width: {{ y.get_days10 }}px;
            padding: .1rem;
            {% if y.get_days10 > 299 %}background: #f88181;
            {% elif y.get_days10 > 0 and y.get_days10 < 149 %}background: #fafa6d;
            {% elif y.get_days10 > 149 and y.get_days10 < 299 %}background: #ffcc99;
            {% elif y.get_days10 == 0 %}background: #b3f5b3; width: 10px;
            {% endif %}">
            {{ y.get_days }}
          </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
    </div>

  </div>
</div>

{% endblock content %}
