{% extends 'base_money.html' %}
{% load i18n csstags static l10n %}

{% block extrastyle %}
	{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
	{{ formset.media }}
{% endblock extrastyle %}

{% block title %}{% trans 'Edit' %}{% endblock %}

{% block content_title %}
	<h3>{{ object.get_title }}</h3>
{% endblock %}

{# https://www.djangosnippets.org/snippets/1442/ #}
{% block content %}

{% include './_revenue_detail.html' %}

<hr/>
<!-- Déjà payé -->
{% if pay %}
<form action="" method="POST" class="form_display" id="revenue_payment_display">
    {% csrf_token %}
		<table id="formset" class="form">
		{% for form in formset.forms %}
		  {% if forloop.first %}
		  <thead class="thead-light"><tr>
		    {% for field in form.visible_fields %}
		    <th>{{ field.label|capfirst }}</th>
		    {% endfor %}
		  </tr></thead>
		  {% endif %}

		  <tr class="ligne">
		  {% for field in form %}
			    <td>
			      {{ field.errors.as_ul }}
			      {{ field }}
			    </td>
					{% if forloop.last %} {# ip_id is the last field! #}
							{% if not field.value is None %}
								<td><button id={{ field.value|unlocalize }} 
										class="btn btn-danger2 delete-row"
										data-toggle="tooltip"
										title="Supprimer ce paiement?"><i class="fas fa-trash-alt"></i>
									</button>
								</td>
							{% endif %}
				  {% endif %}
			{% endfor %}
			<td class="form-control float-right">Déjà payé</td>
		  </tr>

		{% endfor %}
		</table>
		<br>
</form>
{% endif %}

<!-- Payment From -->
{% if solde != 0 %}
	<form action="" method="POST" class="form" id="revenue_payment">
	    {% csrf_token %}
			<table id="form_payment" class="form">
			  <tr>
			  {% for field in form %}
			    <td>
			      {{ field.errors.as_ul }}
			      {{ field }}
			    </td>
				{% endfor %}
				<td><button type="submit" class="btn btn-danger2">{% if solde < 0 %}Rembourser{% else %}Reçu{% endif %}</button></td>
			  </tr>
			</table>
			<br/>
			<p>Adapter le montant si nécessaire et cliquer sur {% if solde < 0 %}Rembourser{% else %}Reçu{% endif %} pour valider le payement</p>
	</form>
{% endif %}

{% define 'revenue_detail' as pathDETAIL %}
<input type="button" class="btn btn-main2" value="Fermer" onclick="javascript:location.href = '{% url pathDETAIL pk %}';">

{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
	<!-- enableajaxindjango Activated only for the ajax delete  call -->
	<script src="{% static 'js/enableajaxindjango.js' %}"></script>  
	{% if "revenuepayment" in request.path %}
  	<script src="{% static 'revenuepayment_form.js' %}?reloadjs=20200311"></script>
	{% endif %}
{% endblock js %}
