{% extends 'base_money_list.html' %}
{% load static i18n csstags %}

{% block content %}
<div class="d-md-inline-flex">
	Code couleur jours en retard de paiement:&nbsp;
	<span class="duedatebox mr-1 bg-light-yellow">< 1 mois</span>
	<span class="duedatebox mr-1 bg-light-orange">< 3 mois</span>
	<span class="duedatebox mr-1 bg-light-red">> 3 mois</span>
</div>
<br><br>

<table id="revenue_list" class="table table-bordered table-hover">
	<form id="list_search" method="get">
	<thead class="thead-light">
		<tr>
			
				<th style="width: 6rem">{{view.form.invnr}}</th>
				<th>{{view.form.year}}</th>
				<th></th>
				<th></th>
				<th>{{view.form.client}}</th>
				<th>{{view.form.revcatgrp}}</th>
				<th>{{view.form.revcat}}</th>
				<th>{{view.form.atelier}}</th>
				<th>{{view.form.minimi}}</th>
				<th>{{view.form.payflag}}</th>
				{{view.form.exportxls}}
		</tr>
		{% if revenue_list %}
		<tr>
			<th><a href="{{ request.get_full_path }}&sortBy=invnr">Nr</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=inputdate">Date</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=jretard">{% trans "Jours retard" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=solde">{% trans "À recevoir" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=client">{% trans "Client" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=revcat__group__name">{% trans "Groupe" %}</a></th>
			<th>
				{{view.form.invoice_send}}
				<a id="categ_txt" href="{{ request.get_full_path }}&sortBy=revcat">Catégorie</a>
			</th>
			<th><a href="{{ request.get_full_path }}&sortBy=atelier">{% trans "Atelier" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=amountvat">{% trans "Montant(€) TVAC" %}</a></th>
			<th><a href="{{ request.get_full_path }}&sortBy=payamount">{% trans "Déjà reçu(€)" %}</a></th>
		</tr>
	</thead>
	</form>
	<tbody>
		{% for i in revenue_list %}
		<tr {% if i.payflag %}background-color="white"
			{% else %}
				{% if i.jretard > 90 %}class="bg-light-red"
				{% elif i.jretard > 0 and i.jretard < 30 %}class="bg-light-yellow"
				{% elif i.jretard >= 30 and i.jretard <= 90 %}class="bg-light-orange"
				{% elif i.jretard == 0 %}class="bg-light-green"
				{% endif %}
			{% endif %}>
			{% if "bdc" in request.path %}
				<td><a href="{% url 'bdc_detail' i.id %}">{{ i.invnr }}</a></td>
			{% else %}
				<td><a href="{{ i.get_absolute_url }}">{{ i.invnr }}</a></td>
			{% endif %}
			<td>{{ i.inputdate|date:"d/m/Y" }}</td>
			<td>{{ i.jretard|default_if_none:"" }}</td>
			<td>{{ i.get_solde|floatformat:"2" }}</td>
			<td>{{ i.client|default_if_none:"" }}</td>			
			<td>{{ i.revcatgrp|default_if_none:"" }}</td>
			<td>{{ i.revcat|default_if_none:"" }}</td>
			<td>{{ i.atelier|default_if_none:"" }}</td>
			<td>{{ i.amountvat|floatformat:"2"|default_if_none:"" }}</td>
			<td>{{ i.payamount|floatformat:"2"|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th>{% trans "Total" %}</th>
			<th></th>
			<th></th>
			<th>{{ view.solde|floatformat:"2" }}</th>
			<th></th>
			<th></th>
			<th></th>
			<th>{% trans "Total" %}</th>
			<th>{{ view.amountvattot|floatformat:"2" }}</th>
			<th>{{ view.payamounttot|floatformat:"2" }}</th>
		</tr>
	</tfoot>
	{% endif %}
</table>


{% endblock content %}

<!-- Load js -->
{% block js %}
	{{ block.super }}
	<script>
		$(document).ready(function()
		{
			var categ = $('#id_revcat').val();
			if (categ == "FRM_FAC" || categ == "FRM_BDC" || categ == "FRM_DEV") {
				$("#id_invoice_send").show();
				$("#categ_txt").hide();
			} else {
				$("#id_invoice_send").hide();
				$("#categ_txt").show();
			}    
		});
	</script>
{% endblock js %}