{% extends 'base_money_list.html' %}
{% load static i18n csstags %}


{% block content %}

<table id="supplier_list" class="table table-bordered table-hover willmaster-sort">
	<thead class="thead-light">
		<tr>
			<form id="list_search" method="get">
					<th></th>
					<th>{{view.form.payflag}}</th>
					<th>{{view.form.expcatgrp}}</th>
					<th>{{view.form.expcat}}</th>
					<th>{{view.form.payduedate}}</th>
					{{view.form.exportxls}}
					<th></th>
					<th></th>
			</form>
		</tr>

	{% if supplier_list %}

		<tr>
		<th><a href="javascript:SortTable(0,'T');">{% get_verbose_field_name supplier_list "company" %}</a></th>
			<th><a href="javascript:SortTable(1,'N');">{% trans "À payer" %}</a></th>
			<th><a href="javascript:SortTable(2,'T');">{% trans "Groupe" %}</a></th>
			<th><a href="javascript:SortTable(3,'T');">{% get_verbose_field_name supplier_list "expcat" %}</a></th>
			<th>{% get_verbose_field_name supplier_list "email" %}</th>
			<th>{% get_verbose_field_name supplier_list "street" %}</th>
			<th>{% get_verbose_field_name supplier_list "zip" %}</th>
		</tr>
	</thead>
	
	<tbody>
		{% for i in supplier_list %}
		<tr>
		  	<td><a href="{{ i.get_absolute_url }}">{{ i.company }}</a></td>
			<td>{% show_client_supplier_href i %}</td>
			<td>{{ i.get_expcatgrp }}</td>
			<td>{{ i.get_expcat|default_if_none:"" }}</td>
			<td>{{ i.email|default_if_none:"" }}</td>
			<td>{{ i.street|default_if_none:"" }}</td>
			<td>{{ i.zip|default_if_none:"" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	{% include '_django_pager.html' %}
	{% else %}
	</thead>
	<p>Aucun résulat pour cette sélection, cliquer sur le bouton Rafraîchir pour retrouver le listing complet.</p>
	{% endif %}
</table>

{% endblock content %}

<!-- Load js -->
{% block js %}
	{{ block.super }}
	<script src="{% static 'js/willmaster_table_sort.js' %}"></script>
{% endblock js %}
