{% extends 'base.html' %}

{% block title %}500 Server Error{% endblock %}

{% block content %}
<h1>500 Server Error</h1>
<h4>Erreur de programmation</h4>
<strong>Un Email a été envoyé à l'administrateur du site</strong>
<br/>
<p>{{ error_msg }}</p>
<br/>
<br/>
<p>{{ user_txt }}</p>
<br/>
<p></p>
<p>{{ extra_txt }}</p>
{% endblock content %}
