{% load i18n static %}
<!-- Sidebar  -->
<!-- https://bootstrapious.com/p/bootstrap-sidebar -->

<nav id="sidebar">
    <h3>&nbsp;</h3>
    <img height="200" width="200" alt="TFerme" src="{% static 'logo/TFerme06.png' %}"/>
</nav>