{% load static settings_tags %}

<footer class="mt-auto py-3">
    <div class="d-flex justify-content-between">
        <div class="ml-3">
            <a target="_blank" rel="noopener noreferrer" href="http://www.wallonie.be">
                <img height="40" width="40" alt="wallonie" src="{% static 'logo/logoWALLONIE.png' %}"
                title="Portail de la Wallonie"></a>
            <a target="_blank" rel="noopener noreferrer" href="http://www.cra.wallonie.be/fr/">
                <img style="margin: 0rem 2rem;" height="40" width="87" alt="craw" src="{% static 'logo/logo_craw220.png' %}"/>
            </a>
        </div>

        <div>
            <ul style="list-style: none; text-align: center;">
                <li>Lire nos <a target="_blank" rel="noopener noreferrer" href="{% static 'tresoferme_condition_utilisation.pdf' %}">conditions d’utilisation</a></li>
                <li>Nous prenons <a target="_blank" rel="noopener noreferrer" href="/info/faq#mydiv_1">soin de vos données</a></li>
                <li>Open source, libre et gratuit | Code sous licence <a target="_blank" rel="noopener noreferrer" href="https://mit-license.org/">MIT</a></li>
                <li>Retrouvez nous sur le <a target="_blank" rel="noopener noreferrer" href="https://gitrural.cra.wallonie.be/craw-app/tresoferme">GitRural</a></li>
            </ul>
        </div>

        <div>
            <ul style="list-style: none; text-align: left;">
                <li>&copy; <a href="http://www.cra.wallonie.be">CRA-W</a> 2020</li>
                <li>Version <strong>{% settings_value "APP_VERSION" %}</strong></li>
                <li>Nous <a href="mailto:tresoferme@cra.wallonie.be">contacter</a></li>
            </ul>
        </div>
        <div></div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    </div>
    
</footer>