{% load static i18n csstags %}

<nav class="navbar navbar-expand-md">
    <a href="{% url 'home' %}">
        <img height="75" width="75" alt="TFlogo" src="{% static 'logo/TFerme06-small.png' %}"/>
    </a>

    <button type="button" id="menuCollapse" class="btn btn-main2 mr-3">
        <span class="fas fa-align-left"></span>
    </button>
    
    {% define 'money_index_info' as pathINFO %}
    <button type="button" id="showHelp" class="btn btn-main2 mr-3" onclick="javascript:location.href = '{% url pathINFO %}';">
        <span class="fas fa-info"></span>
    </button>
  
    <div><strong>
    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">{{ myuser.company }}</a>
    {% else %}
        {{ myuser.company }}
    {% endif %}
    </strong> {{ myuser.get_full_name }}</div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-1">{{ user.email }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'profile_detail' user.id %}">{% trans "Mon compte" %}</a>

                {% if user.is_manager %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile_list' %}">{% trans "Mes utilisateurs" %}</a>
                {% endif %}

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Déconnexion" %}</a>
            </div>
        </li>
        </ul>
    {% else %}
        {% if "signup" not in request.path %}
            <form class="form-inline ml-auto" style="margin-right:150px !important; ">
                <a href="{% url 'mylogin' %}" class="btn btn-outline-secondary">{% trans "Connexion" %}</a>
            </form>
        {% endif %}
    {% endif %}
    </div>

</nav>
