{% load static i18n settings_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{% block title %}TresoFerme{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="Patrick Houben">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

{% block css %}
<link rel="stylesheet" href="{% static 'css/external/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/main.min.css' %}?reloadcss=20200501">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/all.min.css' %}">
{% endblock css %}

{% block extrastyle %}
{% endblock extrastyle %}

</head>

<body id="page-top">

	{% include '_navbar_top.html' %}
	<div class="wrapper">

		{% block sidebar %}
			{% include '_empty_sidebar.html' %}
		{% endblock sidebar %}

		{% block rightbar %}
		{% endblock rightbar %}

	    <div id="content" class="content">
	    	<div class="container-fluid">
				{% block content_title %}{% endblock %}

				{% include '_messages.html' %}

				{% block content %}
					<p>Content here won't be displayed except if use of {{ block.super }} in child html</p>
				{% endblock content %}
			</div>
		</div>
	</div>

	<!-- Footer -->
	{% include '_footerpage.html' %}
	<!-- Footer -->

    {% block js %}
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/tresoferme.js' %}?reloadjs=20200530"></script>
    {% comment %}
      <!-- Voir si besoin de popper et si jquery qui dans js est bien 3.3.1 -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endcomment %}
    {% endblock js %}
</body>
</html>
