{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Patrick Houben">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

  <title>Tresoferme</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/external/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="{% static 'fontawesome-free-5.11.2-web/all.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/tresoferme.css' %}?reloadcss=20200501" rel="stylesheet">
  <link href="{% static 'css/main.min.css' %}?reloadcss=20200501" rel="stylesheet">

</head>

<body id="page-top" class="d-flex flex-column h-100">

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img alt="Logo" height="75" src="static/logo/TFerme06-small.png"></a>
    
      <ul class="navbar-nav ml-auto">
        <a href="{% url 'signup' %}" class="btn btn-outline-secondary mr-2">{% trans "S'inscrire" %}</a>
        <a href="{% url 'mylogin' %}" class="btn btn-outline-success">Connexion</a>
      </ul>
    </div>
  </nav>

  <header>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-10 col-md-9 col-lg-6 col-xl-4 m-auto pb-5 pb-md-0">
          <iframe style="border-radius: 10pt;" width="450" height="280" src="https://www.youtube.com/embed/DDrJriUkCPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-12 ml-md-auto col-md-7 col-lg-6 col-xl-6 pb-5 pb-md-0">
          <h2 class="text-success-dark">Un outil de <span class="badge badge-light text-success">gestion</span>
            financière simplifié</h2>
          <h3>Agile, léger & tout-terrain pour :</h3>
          <ul>
            <li><i class="fas fa-bullseye"></i> mieux piloter votre ferme</li>
            <li><i class="fas fa-bullseye"></i> mieux connaître vos prix et vos marges</li>
            <li><i class="fas fa-bullseye"></i> plus d'autonomie</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Shape -->
    <div class="shape shape-bottom shape-fluid-x svg-shim text-success-dark">
      <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor" />
      </svg>
    </div>
  </header>

  <section class="bg-success-dark text-white pb-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="static/img/intuitif.png">
            </div>
            <div class="col-9">
              <h3>Intuitif et didactique</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="static/img/piloter.png">
            </div>
            <div class="col-9">
              <h3>Adapté à toutes productions agricoles</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4">
          <div class="row">
            <div class="col-3">
              <img alt="image" class="img-fluid" src="static/img/gratuit.png">
            </div>
            <div class="col-9">
              <h3>Gratuit</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-80 pt-80">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="text-success-dark">
            Fonctionnalités
          </h1>
          <hr class="divider divider-lg bg-success">
        </div>

      </div>
      <div class="row text-left mt-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-coins fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Trésorerie</strong></h3>
              <p>Suivre les paiements des clients et des fournisseurs</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-money-check-alt fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Rentabilité</strong></h3>
              <p>Identifier vos meilleures ventes et vos coûts par produit</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-table fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Facturation</strong></h3>
              <p>Réaliser vos factures directement avec votre logo</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-left pt-3 pt-sm-4 pt-md-5">
        <div class="col-12 col-md-4">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-bullseye fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Prévisions</strong></h3>
              <p>Définir vos objectifs et comparer la réalité des ventes et des coûts</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-file-excel fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Export</strong></h3>
              <p>Tous vos encodages exportables pour votre comptable ou pour une analyse plus approfondie</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 pt-3 pt-sm-4 pt-md-0">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-landmark fa-3x text-success"></i>
            </div>
            <div class="col-9">
              <h3><strong>Emprunts</strong></h3>
              <p>Suivre l’évolution de vos emprunts et gérer vos remboursements</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-80 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 text-center mb-2">
          <a href="http://www.cra.wallonie.be" target="_blank"><img alt="image" class="img-fluid"
              src="static/logo/logo_craw220.png"></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-8 col-xl-8 text-xs-center">
          <h3>Développé par le <br /><span class="text-success">Centre wallon de Recherches agronomiques</span></h3>
        </div>
      </div>
    </div>
  </section>

  <section class="p-80">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12 text-center">
          <div class="card-deck">
            <div class="card">
              <div class="card-body"><a href="http://www.cra.wallonie.be" target="_blank"><img alt="image"
                    class="img-fluid" src="static/logo/craw-118x118.jpg"
                    data-alt-src="static/logo/craw-118x118-hover.jpg"></a></div>
            </div>


            <div class="card">
              <div class="card-body"><a href="https://www.wallonie.be" target="_blank"><img alt="image"
                    class="img-fluid" src="static/logo/wallonie-118x118.jpg"
                    data-alt-src="static/logo/wallonie-118x118-hover.jpg"></a></div>
            </div>


            <div class="card">
              <div class="card-body"><a href="https://spw.wallonie.be" target="_blank"><img alt="image"
                    class="img-fluid" src="static/logo/spw-118x118.jpg"
                    data-alt-src="static/logo/spw-118x118-hover.jpg"></a></div>
            </div>


            <div class="card">
              <div class="card-body"><a href="http://diversiferm.be" target="_blank"><img alt="image" class="img-fluid"
                    src="static/logo/diversiferm-118x118.jpg"
                    data-alt-src="static/logo/diversiferm-118x118-hover.jpg"></a></div>
            </div>


            <div class="card">
              <div class="card-body"><a href="https://www.groupeone.be" target="_blank"><img alt="image"
                    class="img-fluid" src="static/logo/groupone-118x118.jpg"
                    data-alt-src="static/logo/groupone-118x118-hover.jpg"></a></div>
            </div>


            <div class="card">
              <div class="card-body"><a href="https://gasap.be/" target="_blank"><img alt="image" class="img-fluid"
                    src="static/logo/gasap-118x118.jpg" data-alt-src="static/logo/gasap-118x118-hover.jpg"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include '_footerpage.html' %}


  <!-- Bootstrap core JavaScript -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/tresoferme.js"></script>
</body>

</html>
