{% load i18n csstags %}
<form action="" method="get" class="form my-2" id="graph_form">

<div class="row">
	<div class="col-md-3">
		<input type="button" class="btn btn-main2 refreshYearList" value="Rafraîchir liste">
	</div>
	<div class="col-md-3">{{ form.year1 }}</div>
	<div class="col-md-3">{{ form.year2 }}</div>
	<div class="col-md-3">
		<button class="btn btn-danger2" type="submit">{% trans "Rafraîchir graphique" %}</button>
		
	</div>
</div>
</form>
