{% if graph1 %}
<div class="row">
  <div class="col-md-6">
    {% if graph1 %}
    <div class="svg-container">
    {{ graph1|safe }}
    </div>
    {% endif %}
  </div>
  <div class="col-md-6">
    {% if graph2 %}
    <div class="svg-container">
    {{ graph2|safe }}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}