{% extends 'base_money.html' %}
{% load static graph_display_tags %}

{% block content %}
{% include 'renta/_renta_form.html' %}
<!-- data object must be present in any case -->
<div class="{{class_color}}">
  <h4>{{ title_group }} (HTVA)</h4>
  <!-- Affichage du premier graphique via plotly-py -->
  {% display_2graph 'id_client' graph1 graph2 %}
  {% if ymax_categ != 0 %}
  <br>
  <h4>{{ title_categ }} (HTVA)</h4>
  <p>{{ categ_msg }}</p>
  <div class="row">
    <div class="col-md-6">
      {% if list1 %}
      <select id="ddlb1" class="form-control"></select>
      <br>
      <div id="subgraph1"></div>
      <div id="subgraph1_data"></div>
      {% endif %}
    </div>

    <div class="col-md-6">
      {% if list2 %}
      <select id="ddlb2" class="form-control"></select>
      <br>
      <div id="subgraph2"></div>
      <div id="subgraph2_data"></div>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>

{% endblock content %}


{% block js %}
  {{ block.super }}
  <script src="{% static 'refresh_year_list.js' %}"></script>

  <script src="{% static 'js/plotly-latest.min.js' %}"></script>
  {%comment%}
  ne fonctionne pas => passage par la boucle replace dans graph.create_group_dict
  <script src="https://cdn.plot.ly/plotly-locale-fr-latest.js"></script>
  {%endcomment%}
  <script src="{% static 'graph_plotly.js' %}?reloadjs=20200412""></script>

  <script>
    var barcolor = "{{ barcolor|safe }}";
    var ymax_categ = {{ ymax_categ|safe }};

    // if (ymax_categ != 0) {
      // DDLB
    var list1 = {{ list1|safe }};
    if (list1 != 0) {
      var ddlb1 = $("#ddlb1");
      ddlb1.append(getOptions(list1));
    }

    var list2 = {{ list2|safe }};
    if (list2 != 0) {
      var ddlb2 = $("#ddlb2");
      ddlb2.append(getOptions(list2));
    }
    // }

    if (list1 != 0) {
      var layout1 = {title:"{{ subtitle1|safe }}", plot_bgcolor:"#E5ECF6", xaxis: {range: [0, ymax_categ]}, nticks:10};
      var subgraph1 = document.getElementById('subgraph1');
      $('#subgraph1_data').data('dataholder', {{ subgraph1_data|safe }});
      var subgraph1_data = $('#subgraph1_data').data('dataholder');
      displayGraph(subgraph1, subgraph1_data, ddlb1, layout1)
    }

    if (list2 != 0) {
      var layout2 = {title:"{{ subtitle2|safe }}", plot_bgcolor:"#E5ECF6", xaxis:{range: [0, ymax_categ]}, nticks:10};
      var subgraph2 = document.getElementById('subgraph2');
      $('#subgraph2_data').data('dataholder', {{ subgraph2_data|safe }});
      var subgraph2_data = $('#subgraph2_data').data('dataholder');
      displayGraph(subgraph2, subgraph2_data, ddlb2, layout2);
    }

    if (list1 != 0) {
      ddlb1.change(function () {
        displayGraph(subgraph1, subgraph1_data, ddlb1, layout1)
      });
    }
    if (list2 != 0) {
      ddlb2.change(function () {
        displayGraph(subgraph2, subgraph2_data, ddlb2, layout2)
      });
    }

  </script>

{% endblock js %}
