{% load l10n %}
{% localize off %}
<option value price vat>---------</option>
{% for x in ddl_list %}
<option value="{{ x.id }}"
        sellprice="{{ x.sellprice }}"
        vat="{{ x.vat.id }}"
        sellpricevat="{{ x.sellpricevat }}"
        atelier_id="{{ x.atelier_id }}"
        unit="{{ x.unit.id }}">{{ x.name }}
</option>
{% endfor %}
{% endlocalize %}
