{% extends 'base.html' %}
{% load i18n csstags bootstrap4 %}

{% block title %}{% trans "Se connecter" %}{% endblock %}

{% block content_title %}<h3>{% trans "Se connecter" %}</h3>{% endblock %}

{% block content %}
<form action="" method="post" class="form">
	{% csrf_token %}
	{% bootstrap_form form layout='horizontal' %}
	<div class="form-group row">
		<div class="col-md-3 col-form-label"></div>
	  <div class="col-md-9">
		 <p class="forgot-password"><a href="{% url 'password_reset' %}" title="{% trans 'Mot de passe oublié?' %}">{% trans "Mot de passe oublié?" %}</a></p>
	  </div>
	</div>	
	{% buttons %}
		<button type="submit" class="btn btn-danger2">{% trans "Se connecter" %}</button>
		<input class="btn btn-main2 goBack" type="button" value="Retour" />
	{% endbuttons %}
	
	{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}		
</form>
{% endblock %}
