{% extends 'base_accounts.html' %}
{% load i18n csstags bootstrap4 %}

{% block title %}
  {% trans 'Password change' %}
{% endblock %}

{% block content_title %}
  <h3>{% get_verbose_model_class_name user %} &raquo; {{ user.username }}  &raquo; {% trans "Password change" %}</h3>
{% endblock %}

{% block content %}
  <form action="" method="post" class="form" id="password_reset">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons %}
          <button type="submit" class="btn btn-danger2">{% trans "Enregistrer" %}</button>
          <input class="btn btn-main2 goBack" type="button" value="Retour" />
      {% endbuttons %}
  </form>
{% endblock %}
