{% extends 'base_accounts.html' %}
{% load i18n csstags bootstrap4 %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h3>{{ title }}</h3>{% endblock %}

{% block content %}
	<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form action="" method="post" class="form" id="password_reset">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
            <button type="submit" class="btn btn-danger2">{% trans "Envoyer" %}</button>
            <input class="btn btn-main2 goBack" type="button" value="Retour" />
        {% endbuttons %}
    </form>
{% endblock content %}
