{% extends 'base_accounts.html' %}
{% load i18n csstags static bootstrap4 %}

{% block title %}{% trans "S'inscrire" %}{% endblock %}

{% block content_title %}<h3>{% trans "S'inscrire" %}</h3>{% endblock %}

{% block content %}
<form action="" method="post" class="form" id="signup">
    {% csrf_token %}
    
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.username.label }}</label>
        <div class="col-md-9">{{ form.username }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.first_name.label }}</label>
        <div class="col-md-9">{{ form.first_name }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.last_name.label }}</label>
        <div class="col-md-9">{{ form.last_name }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.mobile.label }}</label>
        <div class="col-md-9">{{ form.mobile }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.company.label }}</label>
        <div class="col-md-9">{{ form.company }}</div> 
    </div>        
    <div class="form-group row">
        <label class="col-md-3 col-form-label requiredfield">{{ form.email.label }}</label>
        <div class="col-md-9">{{ form.email }}</div> 
    </div>
    <div class="form-group row">
        <label class="col-md-11 col-form-label requiredfield">{{ form.data_access.label }}{{ form.data_access }}</label>
        <div class="col-md-1"></div> 
    </div>
    <div class="form-group row">
        <label class="col-md-8 col-form-label requiredfield">{{ form.cgu.label }}</label>
        <div class="col-md-1">{{ form.cgu }}</div> 
    </div>      


    {% buttons %}
        <button type="submit" class="btn btn-danger2">{% trans "S'inscrire" %}</button>
        <button type="button" class="btn btn-main2 goBack">{% trans "Retour" %}</button>
    {% endbuttons %}
</form>

<button type="button" data-toggle="modal" data-target="#infos" class="btn btn-primary">Informations</button>
<div class="modal" id="infos">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Plus d'informations</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>            
      </div>
      <div class="modal-body">
        Le Tigre (Panthera tigris) est un mammifère carnivore de la famille des félidés...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Load js -->
{% block js %}
  {{ block.super }}
    <!-- <script src="{% static 'required_fields.js' %}"></script> -->
    <script>
        var inputtag = $(".form-group input");
        for (var i = 0; i < inputtag.length; i++) {
                var myid = inputtag[i].id;
                $("#" + myid).addClass('form-control');
            } 
    </script>
{% endblock js %}
